<template>
  <div id="app">
    <!--<img src="./assets/logo.png">-->
    <Header></Header>
    <router-view/>
    <Footer></Footer>
  </div>
</template>
<script>

import Header from './components/Header.vue'
import Footer from './components/Footer.vue'

export default {
  name: 'app',
  components:{
    Header,
    Footer

  }
}
</script>
<style>
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
</style>
<meta name="viewport" content="width=device-width, user-scalable=no">
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>