<template>
  <div class="content">
    <div class="container" v-if="this.$store.state.role=='Admin'">
        <h1>Add Character</h1>
        <div class="col-sm-6 offset-sm-3">
            <form @submit.prevent="addcharacter" v-for="(char, index) in character">
                <div class="form-group">
                    <label for="characterName">Character Name :</label>
                    <input type="text" class="form-control" id="characterName" v-model="name" aria-describedby="Name">
                </div>
                <div class="form-group">
                    <label>Change Image ?</label><br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="checkbox1" v-model="checkimage1" value="image1">
                        <label class="form-check-label" for="checkbox1">Change Large Image</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="checkbox2" v-model="checkimage2" value="image2">
                        <label class="form-check-label" for="checkbox2">Change Thumbnail</label>
                    </div>
                </div>
                <div class="form-group" v-if="checkimage1 == true">
                    <label for="characterImage">Character Image Large :</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" @change="onFileSelected1" id="customFile1" accept="image/*">
                        <label class="custom-file-label" for="customFile1">
                            <span v-if="image1 != null">{{image1.name}}</span>
                            <span v-else>Choose File</span>
                        </label>
                    </div>
                </div>
                <div class="form-group" v-if="checkimage2 == true">
                    <label for="characterImage">Character Image Thumbnail :</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" @change="onFileSelected2" id="customFile2" accept="image/*">
                        <label class="custom-file-label" for="customFile2">
                            <span v-if="image2 != null">{{image2.name}}</span>
                            <span v-else>Choose File</span>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description">Character Description :</label>
                    <textarea type="text" class="form-control" id="description" v-model="desc" aria-describedby="Description" placeholder="Description"></textarea>
                </div>
                <div class="form-group">
                    <label for="type">Character Type : (have to upload new images)</label>
                    <select class="form-control" id="type" v-model="type">
                        <option value="1">Killer</option>
                        <option value="2">Survivor</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" class="form-control btn btn-secondary"/>
                </div>
            </form>
        </div>
    </div>
    <div class="container" v-else v-onload="this.$router.push('/404')">
        <h1>Access Denied</h1>
    </div>
 </div>
</template>

<script>
export default {
  name: 'AdminEditCharacter',
  data () {
    return {
    name : '',
    image1 : null,
    image2 : null,
    desc : '',
    type: '',
    character: '',
    checkimage1: false,
    checkimage2: false,
    img: '',
    }
  },
  computed: {
      
  },
  mounted(){
  	axios.get('/character/'+this.$route.params.id).then((response) => {
  	    // handle success
  	   this.character = response.data;
       this.name = response.data[0].nom_personnage;
       this.desc = response.data[0].description_personnage;
       this.type = response.data[0].id_caracteristique;
       this.img = response.data[0].img_personnage;
  	  })
  	  .catch((error)=> {
  	    // handle error
  	    console.log(error);
  	  })
  	  .then(() => {
  	    // always executed
  	  });
  },
  methods: {
    addcharacter(){
      const fd = new FormData();
      if(this.image1 != null) {
         fd.append('image1', this.image1, this.image1.name);   
      }
      if(this.image2 != null) {
         fd.append('image2', this.image2, this.image2.name);  
      }
      fd.append('img', this.img);
      fd.append('id', this.$route.params.id);
      fd.append('checkimage1', this.checkimage1);
      fd.append('checkimage2', this.checkimage2);
      fd.append('name', this.name);
      fd.append('desc', this.desc);
      fd.append('type', this.type);
      axios.post('editcharacter', fd, {
     })
      .then((response) => {
       console.log(response)
       this.$router.push('/admin/characters')
     })
      .catch((error) => {
       console.log(error.data);
     })
    },
    onFileSelected1(event) {
        if(this.checkimage1 == true) {
            this.image1 = event.target.files[0];
        }
    },
    onFileSelected2(event) {
        if(this.checkimage2 == true) {
            this.image2 = event.target.files[0];
        }
    },
  }

}
</script>


<style scoped>
    .content {
        background-color: #1E293B;
        background-image: url(../assets/img/background.jpg);
        background-position: center top;
        background-repeat: no-repeat;
        padding:5% 0;
        min-height: 55vh;
    }
    .container {
        background-color: rgba(0, 0, 0, 0.6);
        padding: 30px 0;
    }
    h1 {
        color: white;
        padding: 30px 0;
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }
    label {
        color: white;
    }
    .custom-file label {
        color: black;
    }
</style>