<template>
  <div class="content">
    <div class="container" v-if="this.$store.state.role=='Admin'">
        <h1>Items/Powers</h1>
        <a href="/admin/item/new" class="btn btn-outline-light btn-block col-sm-4 offset-sm-4" style="margin-bottom: 20px;">Add New Item/Power</a>
        <div class="row">
            <div class="col-sm-12 recherche">
               <label>Filter by : </label>
               <select v-model="selected">
                  <option selected value=""></option>
                  <option>Name</option>
                  <option>Killer/Survivor</option>
               </select>
               <label>Value : </label>
               <input type="text" v-model="search" placeholder="name" /> 
            </div>
            <div class="col-sm-12">
                 <table id="table_id" class="display table table-striped table-dark">
                     <thead><tr><th scope="col">#</th><th scope="col">Name</th><th scope="col">Img</th><th scope="col">Killer/Survivor</th><th scope="col">Description</th></tr></thead>
                     <tbody>
                         <tr v-for="(item, index) in filteredItems" :key="index" scope="row">
                             <td>{{index+1}}</td>
                             <td>
                                 <span>{{item.nom_objet}}</span>
                             </td>
                             <td>
                                 <img v-if="item.id_caracteristique == 1" v-bind:src="require('../assets/img/deadbydaylight/killers/items/'+item.img_objet)" width="100px;">
                                 <img v-else v-bind:src="require('../assets/img/deadbydaylight/survivors/items/'+item.img_objet)" width="100px;">
                             </td>
                             <td>
                                 <span v-if="item.nom_personnage == 'survivor'">Survivor</span>
                                 <span v-else>{{item.nom_personnage}}</span>
                             </td>
                             <td>
                                 <p class="description" v-html="item.description_objet">{{item.description_objet}}</p>
                             </td>
                             <td><a v-bind:href="'/admin/edit/item/'+item.id_objet+'/'">Edit</a><br><a @click="RemoveItem(item.id_objet)" href="/admin/items">Delete</a></td>
                         </tr>
                     </tbody>
                 </table>
            </div>
        </div>
    </div>
    <div class="container" v-else v-onload="this.$router.push('/404')">
        <h1>Access Denied</h1>
    </div>
 </div>
</template>

<script>
export default {
  name: 'AdminItems',
  data () {
    return {
    items : [],
    item : '',
    search : '',
    selected: '',
    }
  },
  computed: {
      filteredItems: function() {
      return this.items.filter(item => {
        if(this.selected == "") {
            return item.id_objet;
        }
        if(this.selected == "Name" && item.nom_objet != null) {
            return item.nom_objet.toLowerCase().match(this.search.toLowerCase());
        }
        if(this.selected == "Killer/Survivor" && item.id_caracteristique != null) {
            if(item.id_caracteristique == 1) {
               var testperso = item.nom_personnage + "killer";
            }
            else if(item.id_caracteristique == 2) {
               var testperso = "survivor";
            }
            return testperso.toLowerCase().match(this.search.toLowerCase());
        }
      });
    },
  },
  mounted(){
  	axios.get('/adminitems').then((response) => {
  	    // handle success
  	   this.items = response.data
  	  })
  	  .catch((error)=> {
  	    // handle error
  	    console.log(error);
  	  })
  	  .then(() => {
  	    // always executed
  	  });
  },
  methods: {
    RemoveItem: function(id_item) {
      axios.get('/removeitem/'+id_item).then((response) => {
  	    // handle success
  	  })
  	  .catch((error)=> {
  	    // handle error
  	    console.log(error);
  	  })
  	  .then(() => {
  	    // always executed
  	  });
    },
  }

}
</script>


<style scoped>
    .content {
        background-color: #1E293B;
        background-image: url(../assets/img/background.jpg);
        background-position: center top;
        background-repeat: no-repeat;
        padding:5% 0;
        min-height: 55vh;
    }
    .container {
        background-color: rgba(0, 0, 0, 0.6);
    }
    h1 {
        color: white;
        padding: 30px 0;
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }
    .recherche {
        color: white;
        padding: 15px;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        margin-left: 0px;
    }
    .recherche input {
        width: 40%;
    }
    .description {
        height: 150px;
        overflow: auto;
        font-family: 'Roboto', sans-serif;
    }
</style>