<template>
  <div class="content">
    <div class="container" v-if="this.$store.state.role=='Admin'">
        <h1>Builds</h1>
        <div class="row">
            <div class="col-sm-12 recherche">
               <label>Filter by : </label>
               <select v-model="selected">
                  <option selected value=""></option>
                  <option>Name</option>
                  <option>Perks</option>
                  <option>Items</option>
                  <option>Addons</option>
                  <option>Offerings</option>
                  <option>Author</option>
                  <option>Killer/Survivor</option>
               </select>
               <label>Value : </label>
               <input type="text" v-model="search" placeholder="name" /> 
            </div>
            <div class="col-sm-12">
                 <table id="table_id" class="display table table-striped table-dark">
                     <thead><tr><th scope="col">#</th><th scope="col">Character</th><th scope="col">Title + Username</th><th scope="col">Perks</th><th scope="col">Items</th><th scope="col">Addons</th><th scope="col">Offerings</th></tr></thead>
                     <tbody>
                         <tr v-for="(build, index) in filteredBuilds" :key="index" scope="row">
                             <td>{{index+1}}</td>
                             <td>
                                 <span>{{build.nom_personnage}}</span>
                             </td>
                             <td v-if="build.id_caracteristique == 1"><a v-bind:href="'/killer/build/'+build.id_build+'/'">{{build.nom_build}}</a><br>by <a v-bind:href="'/profile/'+build.username+'/'">{{build.username}}</a></td>
                             <td v-else><a v-bind:href="'/survivor/build/'+build.id_build+'/'">{{build.nom_build}}</a><br>by <a v-bind:href="'/profile/'+build.username+'/'">{{build.username}}</a></td>
                             <td>
                                 <span v-for="(perks, i) in builds" :key="i" v-if="perks.nom_perk != null && perks.id_build == build.id_build">{{perks.nom_perk}}<br></span>
                             </td>
                             <td>
                                 <span v-for="(items, j) in builds" :key="j" v-if="items.id_type_objet == 1 && items.id_build == build.id_build">{{items.nom_objet}}<br></span>
                             </td>
                             <td>
                                 <span v-for="(addons, a) in builds" :key="a" v-if="addons.nom_addon != null && addons.id_build == build.id_build">{{addons.nom_addon}}<br></span>
                             </td>
                             <td>
                                 <span v-for="(offerings, o) in builds" :key="o" v-if="offerings.nom_objet != null && offerings.id_type_objet == 2 && offerings.id_build == build.id_build">{{offerings.nom_objet}}<br></span>
                             </td>
                             <td><a v-bind:href="'/edit/build/'+build.id_build+'/'">Edit</a><br><a @click="RemoveBuild(build.id_build)" href="#">Delete</a></td>
                         </tr>
                     </tbody>
                 </table>
            </div>
        </div>
    </div>
    <div class="container" v-else v-onload="this.$router.push('/404')">
        <h1>Access Denied</h1>
    </div>
 </div>
</template>

<script>
export default {
  name: 'AdminBuilds',
  data () {
    return {
    builds : [],
    build : '',
    search : '',
    selected: '',
    }
  },
  computed: {
      filteredBuilds: function() {
      return this.builds.filter(build => {
        if(this.selected == "") {
            return build.likes;
        }
        if(this.selected == "Name" && build.nom_build != null) {
            return build.nom_build.toLowerCase().match(this.search.toLowerCase());
        }
        if(this.selected == "Perks" && build.perks != null) {
            return build.perks.toLowerCase().match(this.search.toLowerCase());
        }
        if(this.selected == "Items" && build.objets != null) {
            return build.objets.toLowerCase().match(this.search.toLowerCase());
        }
        if(this.selected == "Addons" && build.addons != null) {
            return build.addons.toLowerCase().match(this.search.toLowerCase());
        }
        if(this.selected == "Offerings" && build.objets != null) {
            return build.objets.toLowerCase().match(this.search.toLowerCase());
        }
        if(this.selected == "Author" && build.username != null) {
            return build.username.toLowerCase().match(this.search.toLowerCase());
        }
        if(this.selected == "Killer/Survivor" && build.id_caracteristique != null) {
            if(build.id_caracteristique == 1) {
                var testperso = "killer";
            }
            else {
                var testperso = "survivor";
            }
            return testperso.toLowerCase().match(this.search.toLowerCase());
        }
      });
    },
  },
  mounted(){
  	axios.get('/gestionbuild').then((response) => {
  	    // handle success
  	   this.builds = response.data
  	  })
  	  .catch((error)=> {
  	    // handle error
  	    console.log(error);
  	  })
  	  .then(() => {
  	    // always executed
  	  });
  },
  methods: {
    RemoveBuild: function(id_build) {
      axios.get('/removebuild/'+id_build).then((response) => {
  	    // handle success
  	  })
  	  .catch((error)=> {
  	    // handle error
  	    console.log(error);
  	  })
  	  .then(() => {
  	    // always executed
  	  });
    },
  }

}
</script>


<style scoped>
    .content {
        background-color: #1E293B;
        background-image: url(../assets/img/background.jpg);
        background-position: center top;
        background-repeat: no-repeat;
        padding:5% 0;
        min-height: 55vh;
    }
    .container {
        background-color: rgba(0, 0, 0, 0.6);
    }
    h1 {
        color: white;
        padding: 30px 0;
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }
    .recherche {
        color: white;
        padding: 15px;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        margin-left: 0px;
    }
    .recherche input {
        width: 40%;
    }
</style>