<template>
  <div class="content">
    <div class="container" v-if="this.$store.state.role=='Admin'">
        <h1>Users</h1>
        <div class="row">
            <div class="col-sm-12 row recherche">
                <div class="col-sm-12">
                   <label>Filter by : </label>
                   <select v-model="selected">
                      <option selected value=""></option>
                      <option>ID</option>
                      <option>Username</option>
                      <option>Email</option>
                      <option>Role</option>
                   </select>
                   <label>Value : </label>
                   <input type="text" v-model="search" placeholder="name" /> 
                </div>
            </div>
            <div class="col-sm-12">
                 <table id="table_id" class="display table table-striped table-dark">
                     <thead><tr><th scope="col">#</th><th scope="col">ID</th><th scope="col">Username</th><th scope="col">Email</th><th scope="col">Role</th></tr></thead>
                     <tbody>
                         <tr v-for="(user, index) in filteredUsers" :key="index" scope="row"><td>{{index+1}}</td><td>{{user.id_utilisateur}}</td><td>{{user.username}}</td><td>{{user.email}}</td><td>{{user.Role}}</td><td><a v-bind:href="'/admin/edit/user/'+user.id_utilisateur+'/'">Edit</a><br><a @click="RemoveUser(user.id_utilisateur)" href="#">Delete</a></td></tr>
                     </tbody>
                 </table>
            </div>
        </div>
    </div>
    <div class="container" v-else v-onload="this.$router.push('/404')">
        <h1>Access Denied</h1>
    </div>
 </div>
</template>

<script>
export default {
  name: 'AdminUsers',
  data () {
    return {
    users : [],
    user : '',
    search : '',
    selected: '',
    }
  },
  computed: {
      filteredUsers: function() {
          return this.users.filter(user => {
             if(this.selected == "") {
                 return user.id_utilisateur;
             }
             if(this.selected == "ID" && user.id_utilisateur != null) {
                 return user.id_utilisateur.toLowerCase().match(this.search.toLowerCase());
             }
             if(this.selected == "Username" && user.username != null) {
                 return user.username.toLowerCase().match(this.search.toLowerCase());
             }
             if(this.selected == "Email" && user.email != null) {
                 return user.email.toLowerCase().match(this.search.toLowerCase());
             }
             if(this.selected == "Role" && user.Role != null) {
                 return user.Role.toLowerCase().match(this.search.toLowerCase());
             }
          });
      },
  },
  mounted(){
  	axios.get('/users').then((response) => {
  	    // handle success
  	   this.users = response.data
  	  })
  	  .catch((error)=> {
  	    // handle error
  	    console.log(error);
  	  })
  	  .then(() => {
  	    // always executed
  	  });
  },
  methods: {
    RemoveUser: function(id_user) {
      axios.get('/removeuser/'+id_user).then((response) => {
  	    // handle success
        console.log(id_user);
  	  })
  	  .catch((error)=> {
  	    // handle error
  	    console.log(error);
  	  })
  	  .then(() => {
  	    // always executed
  	  });
    },
  }

}
</script>


<style scoped>
    .content {
        background-color: #1E293B;
        background-image: url(../assets/img/background.jpg);
        background-position: center top;
        background-repeat: no-repeat;
        padding:5% 0;
        min-height: 55vh;
    }
    .container {
        background-color: rgba(0, 0, 0, 0.6);
    }
    h1 {
        color: white;
        padding: 30px 0;
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }
    .recherche {
        color: white;
        padding: 15px;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        margin-left: 0px;
    }
    .recherche input {
        width: 40%;
    }
</style>