<template>
  <div class="content">
    <div class="container" v-if="this.$store.state.role=='Admin'">
        <h1>Addons</h1>
        <a href="/admin/addon/new" class="btn btn-outline-light btn-block col-sm-4 offset-sm-4" style="margin-bottom: 20px;">Add New Addon</a>
        <div class="row">
            <div class="col-sm-12 recherche">
               <label>Filter by : </label>
               <select v-model="selected">
                  <option selected value=""></option>
                  <option>Name</option>
                  <option>Item</option>
               </select>
               <label>Value : </label>
               <input type="text" v-model="search" placeholder="name" /> 
            </div>
            <div class="col-sm-12">
                 <table id="table_id" class="display table table-striped table-dark">
                     <thead><tr><th scope="col">#</th><th scope="col">Name</th><th scope="col">Img</th><th scope="col">Items</th><th scope="col">Description</th></tr></thead>
                     <tbody>
                         <tr v-for="(addon, index) in filteredAddons" :key="index" scope="row">
                             <td>{{index+1}}</td>
                             <td>
                                 <span>{{addon.nom_addon}}</span>
                             </td>
                             <td>
                                 <img v-if="addon.id_caracteristique == 1" v-bind:src="require('../assets/img/deadbydaylight/killers/addons/'+addon.img_addon)" width="100px;">
                                 <img v-else v-bind:src="require('../assets/img/deadbydaylight/survivors/addons/'+addon.img_addon)" width="100px;">
                             </td>
                             <td>
                                 <span>{{addon.objet}}</span>
                             </td>
                             <td>
                                 <p class="description" v-html="addon.description_addon">{{addon.description_addon}}</p>
                             </td>
                             <td><a v-bind:href="'/admin/edit/addon/'+addon.id_addon+'/'">Edit</a><br><a @click="RemoveAddon(addon.id_addon)" href="/admin/addons">Delete</a></td>
                         </tr>
                     </tbody>
                 </table>
            </div>
        </div>
    </div>
    <div class="container" v-else v-onload="this.$router.push('/404')">
        <h1>Access Denied</h1>
    </div>
 </div>
</template>

<script>
export default {
  name: 'AdminAddons',
  data () {
    return {
    addons : [],
    addon : '',
    search : '',
    selected: '',
    }
  },
  computed: {
      filteredAddons: function() {
      return this.addons.filter(addon => {
        if(this.selected == "") {
            return addon.id_addon;
        }
        if(this.selected == "Name" && addon.nom_addon != null) {
            return addon.nom_addon.toLowerCase().match(this.search.toLowerCase());
        }
        if(this.selected == "Item" && addon.objet != null) {
            return addon.objet.toLowerCase().match(this.search.toLowerCase());
        }
      });
    },
  },
  mounted(){
  	axios.get('/adminaddons').then((response) => {
  	    // handle success
  	   this.addons = response.data
  	  })
  	  .catch((error)=> {
  	    // handle error
  	    console.log(error);
  	  })
  	  .then(() => {
  	    // always executed
  	  });
  },
  methods: {
    RemoveAddon: function(id_addon) {
      axios.get('/removeaddon/'+id_addon).then((response) => {
  	    // handle success
  	  })
  	  .catch((error)=> {
  	    // handle error
  	    console.log(error);
  	  })
  	  .then(() => {
  	    // always executed
  	  });
    },
  }

}
</script>


<style scoped>
    .content {
        background-color: #1E293B;
        background-image: url(../assets/img/background.jpg);
        background-position: center top;
        background-repeat: no-repeat;
        padding:5% 0;
        min-height: 55vh;
    }
    .container {
        background-color: rgba(0, 0, 0, 0.6);
    }
    h1 {
        color: white;
        padding: 30px 0;
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }
    .recherche {
        color: white;
        padding: 15px;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        margin-left: 0px;
    }
    .recherche input {
        width: 40%;
    }
    .description {
        height: 150px;
        overflow: auto;
        font-family: 'Roboto', sans-serif;
    }
</style>