<template>
  <div class="content">
    <div class="container" v-if="this.$store.state.role=='Admin'">
        <h1>Welcome to the Dead By Builder Back Office</h1>
        <h2>You have <span v-for="build in builds">{{build.Count}}</span> Builds created for <span v-for="user in users">{{user.Count}}</span> Users registered</h2>
        <div class="row">
            
        </div>
    </div>
    <div class="container" v-else v-onload="this.$router.push('/404')">
        <h1>Access Denied</h1>
    </div>
 </div>
</template>

<script>
export default {
  name: 'admin',
  data () {
    return {
        builds: [],
        build: '',
        users: [],
        user: '',
        
    }
  },
  mounted(){
    axios.get('/countbuilds').then((response) => {
  	    // handle success
  	   this.builds = response.data
  	  })
  	  .catch((error)=> {
  	    // handle error
  	    console.log(error);
  	  })
  	  .then(() => {
  	    // always executed
  	  });
    axios.get('/countusers').then((response) => {
  	    // handle success
  	   this.users = response.data
  	  })
  	  .catch((error)=> {
  	    // handle error
  	    console.log(error);
  	  })
  	  .then(() => {
  	    // always executed
  	  });
  },

}
</script>


<style scoped>
    .content {
        background-color: #1E293B;
        background-image: url(../assets/img/background.jpg);
        background-position: center top;
        background-repeat: no-repeat;
        padding:5% 0;
        min-height: 55vh;
    }
    .container {
        background-color: rgba(0, 0, 0, 0.6);
    }
    h1 {
        color: white;
        padding: 30px 0;
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }
    h2 {
        color: white;
        padding: 30px 0;
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }
</style>