<template>
  <div class="content">
    <div class="container" v-if="this.$store.state.role=='Admin'">
        <h1>Offerings</h1>
        <a href="/admin/offering/new" class="btn btn-outline-light btn-block col-sm-4 offset-sm-4" style="margin-bottom: 20px;">Add New Offering</a>
        <div class="row">
            <div class="col-sm-12 recherche">
               <label>Filter by : </label>
               <select v-model="selected">
                  <option selected value=""></option>
                  <option>Name</option>
                  <option>Killer/Survivor/Common</option>
               </select>
               <label>Value : </label>
               <input type="text" v-model="search" placeholder="name" /> 
            </div>
            <div class="col-sm-12">
                 <table id="table_id" class="display table table-striped table-dark">
                     <thead><tr><th scope="col">#</th><th scope="col">Name</th><th scope="col">Img</th><th scope="col">Killer/Survivor</th><th scope="col">Description</th></tr></thead>
                     <tbody>
                         <tr v-for="(offering, index) in filteredOfferings" :key="index" scope="row">
                             <td>{{index+1}}</td>
                             <td>
                                 <span>{{offering.nom_objet}}</span>
                             </td>
                             <td>
                                 <img v-if="offering.caracteristique == 1" v-bind:src="require('../assets/img/deadbydaylight/killers/offerings/'+offering.img_objet)" width="100px;">
                                 <img v-else v-bind:src="require('../assets/img/deadbydaylight/survivors/offerings/'+offering.img_objet)" width="100px;">
                             </td>
                             <td>
                                 <span v-if="offering.caracteristique == 1">Killer</span>
                                 <span v-else-if="offering.caracteristique == 2">Survivor</span>
                                 <span v-else>Common</span>
                             </td>
                             <td>
                                 <p class="description" v-html="offering.description_objet">{{offering.description_objet}}</p>
                             </td>
                             <td><a v-bind:href="'/admin/edit/offering/'+offering.id_objet+'/'">Edit</a><br><a @click="RemoveOffering(offering.id_objet)" href="/admin/offerings">Delete</a></td>
                         </tr>
                     </tbody>
                 </table>
            </div>
        </div>
    </div>
    <div class="container" v-else v-onload="this.$router.push('/404')">
        <h1>Access Denied</h1>
    </div>
 </div>
</template>

<script>
export default {
  name: 'AdminOfferings',
  data () {
    return {
    offerings : [],
    offering : '',
    search : '',
    selected: '',
    }
  },
  computed: {
      filteredOfferings: function() {
      return this.offerings.filter(offering => {
        if(this.selected == "") {
            return offering.id_objet;
        }
        if(this.selected == "Name" && offering.nom_objet != null) {
            return offering.nom_addon.toLowerCase().match(this.search.toLowerCase());
        }
        if(this.selected == "Killer/Survivor/Common" && offering.id_objet != null) {
            if(offering.caracteristique == 1) {
               var testperso = "killer";
            }
            else if(offering.caracteristique == 2) {
               var testperso = "survivor";
            }
            else if(offering.caracteristique == 3) {
               var testperso = "common";
            }
            return testperso.toLowerCase().match(this.search.toLowerCase());
        }
      });
    },
  },
  mounted(){
  	axios.get('/adminofferings').then((response) => {
  	    // handle success
  	   this.offerings = response.data
  	  })
  	  .catch((error)=> {
  	    // handle error
  	    console.log(error);
  	  })
  	  .then(() => {
  	    // always executed
  	  });
  },
  methods: {
    RemoveAddon: function(id_addon) {
      axios.get('/removeaddon/'+id_addon).then((response) => {
  	    // handle success
  	  })
  	  .catch((error)=> {
  	    // handle error
  	    console.log(error);
  	  })
  	  .then(() => {
  	    // always executed
  	  });
    },
  }

}
</script>


<style scoped>
    .content {
        background-color: #1E293B;
        background-image: url(../assets/img/background.jpg);
        background-position: center top;
        background-repeat: no-repeat;
        padding:5% 0;
        min-height: 55vh;
    }
    .container {
        background-color: rgba(0, 0, 0, 0.6);
    }
    h1 {
        color: white;
        padding: 30px 0;
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }
    .recherche {
        color: white;
        padding: 15px;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        margin-left: 0px;
    }
    .recherche input {
        width: 40%;
    }
    .description {
        height: 150px;
        overflow: auto;
        font-family: 'Roboto', sans-serif;
    }
</style>