<template>
  <div class="content">
    <div class="container" v-if="this.$store.state.role=='Admin'">
        <h1>Edit Addon</h1>
        <div class="col-sm-6 offset-sm-3">
            <form @submit.prevent="editaddon" v-for="(addon, index) in addons">
                <div class="form-group">
                    <label for="characterName">Addon Name :</label>
                    <input type="text" class="form-control" id="addonName" v-model="name" aria-describedby="Name" placeholder="Name">
                </div>
                <div class="form-group">
                    <label>Change Image ?</label><br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="checkbox1" v-model="checkimage1" value="image1">
                        <label class="form-check-label" for="checkbox1">Change Image</label>
                    </div>
                </div>
                <div class="form-group" v-if="checkimage1 == true">
                    <label for="characterImage">Addon Image :</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" @change="onFileSelected1" id="customFile1" accept="image/*">
                        <label class="custom-file-label" for="customFile1">
                            <span v-if="image1 != null">{{image1.name}}</span>
                            <span v-else>Choose File</span>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description">Addon Description :</label>
                    <textarea type="text" class="form-control" id="description" v-model="desc" aria-describedby="Description" placeholder="Description"></textarea>
                </div>
                <div class="form-group">
                    <label for="type">Item Type : (have to upload new image)</label>
                    <select class="form-control" id="type" v-model="type">
                        <option value="1">Killer</option>
                        <option value="2">Survivor</option>
                    </select>
                </div>
                <div class="form-group row" v-if="type == 1 || type == 2">
                    <label class="col-sm-12">Item Selection :</label>
                    <div class="col-sm-6" v-for="(it, index) in items" v-if="it.id_caracteristique == type">
                    <input type="checkbox" :id="it.id_objet" :value="it.id_objet" v-model="itemschecked">
                    <label :for="it.id_objet">{{it.nom_objet}}</label>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="form-control btn btn-secondary"/>
                </div>
            </form>
        </div>
    </div>
    <div class="container" v-else v-onload="this.$router.push('/404')">
        <h1>Access Denied</h1>
    </div>
 </div>
</template>

<script>
export default {
  name: 'AdminEditAddon',
  data () {
    return {
    name : '',
    image1 : null,
    desc : '',
    type: '',
    img: '',
    character: '',
    char: '',
    addons: [],
    addon: '',
    items : [],
    checkimage1: false,
    it: '',
    itemschecked: [],
    }
  },
  computed: {

  },
  mounted(){
     axios.get('/addon/'+this.$route.params.id).then((response) => {
  	    // handle success
  	   this.addons = response.data
       this.name = response.data[0].nom_addon;
       this.desc = response.data[0].description_addon;
       this.img = response.data[0].img_addon;
       this.type = response.data[0].id_caracteristique;
       var str = response.data[0].objet;
       this.itemschecked = str.split(',');
  	  })
  	  .catch((error)=> {
  	    // handle error
  	    console.log(error);
  	  })
  	  .then(() => {
  	    // always executed
  	  });
     axios.get('/items-powers').then((response) => {
  	    // handle success
  	   this.items = response.data
  	  })
  	  .catch((error)=> {
  	    // handle error
  	    console.log(error);
  	  })
  	  .then(() => {
  	    // always executed
  	  });
  },
  methods: {
    editaddon(){
      const fd = new FormData();
      if(this.image1 != null) {
         fd.append('image1', this.image1, this.image1.name);   
      }
      fd.append('id', this.$route.params.id);
      fd.append('name', this.name);
      fd.append('desc', this.desc);
      fd.append('type', this.type);
      fd.append('img', this.img);
      fd.append('checkimage1', this.checkimage1);
      fd.append('itemschecked', this.itemschecked);
      axios.post('editaddon', fd, {
     })
      .then((response) => {
       console.log(response)
       this.$router.push('/admin/addons')
     })
      .catch((error) => {
       console.log(error.data);
     })
    },
    onFileSelected1(event) {
        this.image1 = event.target.files[0];
    },
  }

}
</script>


<style scoped>
    .content {
        background-color: #1E293B;
        background-image: url(../assets/img/background.jpg);
        background-position: center top;
        background-repeat: no-repeat;
        padding:5% 0;
        min-height: 55vh;
    }
    .container {
        background-color: rgba(0, 0, 0, 0.6);
        padding: 30px 0;
    }
    h1 {
        color: white;
        padding: 30px 0;
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }
    label {
        color: white;
    }
    .custom-file label {
        color: black;
    }
</style>