<template>
  <div class="content">
    <div class="container" v-if="this.$store.state.role=='Admin'">
        <h1>Edit User</h1>
        <div class="col-sm-6 offset-sm-3">
            <form @submit.prevent="edituser" v-for="(user, index) in users">
                <div class="form-group">
                    <label for="characterName">Username :</label>
                    <input type="text" class="form-control" id="Username" v-model="name" aria-describedby="Name" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="characterName">Email :</label>
                    <input type="text" class="form-control" id="Email" v-model="email" aria-describedby="Email" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="role">Role :</label>
                    <select class="form-control" id="type" v-model="role">
                        <option value="Member">Member</option>
                        <option value="Admin">Admin</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" class="form-control btn btn-secondary"/>
                </div>
            </form>
        </div>
    </div>
    <div class="container" v-else v-onload="this.$router.push('/404')">
        <h1>Access Denied</h1>
    </div>
 </div>
</template>

<script>
export default {
  name: 'AdminEditUser',
  data () {
    return {
    name : '',
    email : '',
    role: '',
    users: [],
    user: '',
    }
  },
  computed: {

  },
  mounted(){
     axios.get('/selectuser/'+this.$route.params.id).then((response) => {
  	    // handle success
  	   this.users = response.data
       this.name = response.data[0].username;
       this.email = response.data[0].email;
       this.role = response.data[0].Role;
  	  })
  	  .catch((error)=> {
  	    // handle error
  	    console.log(error);
  	  })
  	  .then(() => {
  	    // always executed
  	  });
  },
  methods: {
    edituser(){
      const fd = new FormData();
      fd.append('id', this.$route.params.id);
      fd.append('name', this.name);
      fd.append('email', this.email);
      fd.append('role', this.role);
      axios.post('edituser', fd, {
     })
      .then((response) => {
       console.log(response)
       this.$router.push('/admin/users')
     })
      .catch((error) => {
       console.log(error.data);
     })
    },
    onFileSelected1(event) {
        this.image1 = event.target.files[0];
    },
  }

}
</script>


<style scoped>
    .content {
        background-color: #1E293B;
        background-image: url(../assets/img/background.jpg);
        background-position: center top;
        background-repeat: no-repeat;
        padding:5% 0;
        min-height: 55vh;
    }
    .container {
        background-color: rgba(0, 0, 0, 0.6);
        padding: 30px 0;
    }
    h1 {
        color: white;
        padding: 30px 0;
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }
    label {
        color: white;
    }
    .custom-file label {
        color: black;
    }
</style>