<template>
  <div class="content">
    <div class="container" v-if="this.$store.state.role=='Admin'">
        <h1>Characters</h1>
        <a href="/admin/character/new" class="btn btn-outline-light btn-block col-sm-4 offset-sm-4" style="margin-bottom: 20px;">Add New Character</a>
        <div class="row">
            <div class="col-sm-12 recherche">
               <label>Filter by : </label>
               <select v-model="selected">
                  <option selected value=""></option>
                  <option>Name</option>
                  <option>Killer/Survivor</option>
               </select>
               <label>Value : </label>
               <input type="text" v-model="search" placeholder="name" /> 
            </div>
            <div class="col-sm-12">
                 <table id="table_id" class="display table table-striped table-dark">
                     <thead><tr><th scope="col">#</th><th scope="col">Name</th><th scope="col">Img</th><th scope="col">Killer/Survivor</th><th scope="col">Description</th></tr></thead>
                     <tbody>
                         <tr v-for="(char, index) in filteredCharacters" :key="index" scope="row">
                             <td>{{index+1}}</td>
                             <td>
                                 <span>{{char.nom_personnage}}</span>
                             </td>
                             <td>
                                 <img v-if="char.id_caracteristique == 1" v-bind:src="require('../assets/img/deadbydaylight/killers/thumbnail/'+char.img_personnage)" width="100px;">
                                 <img v-else v-bind:src="require('../assets/img/deadbydaylight/survivors/thumbnail/'+char.img_personnage)" width="100px;">
                             </td>
                             <td>
                                 <span v-if="char.id_caracteristique == 1">Killer<br></span>
                                 <span v-else>Survivor<br></span>
                             </td>
                             <td>
                                 <p class="description">{{char.description_personnage}}</p>
                             </td>
                             <td><a v-bind:href="'/admin/edit/character/'+char.id_personnage+'/'">Edit</a><br><a @click="RemoveChar(char.id_personnage)" href="/admin/characters">Delete</a></td>
                         </tr>
                     </tbody>
                 </table>
            </div>
        </div>
    </div>
    <div class="container" v-else v-onload="this.$router.push('/404')">
        <h1>Access Denied</h1>
    </div>
 </div>
</template>

<script>
export default {
  name: 'AdminCharacters',
  data () {
    return {
    characters : [],
    char : '',
    search : '',
    selected: '',
    }
  },
  computed: {
      filteredCharacters: function() {
      return this.characters.filter(char => {
        if(this.selected == "") {
            return char.id_personnage;
        }
        if(this.selected == "Name" && char.nom_personnage != null) {
            return char.nom_personnage.toLowerCase().match(this.search.toLowerCase());
        }
        if(this.selected == "Killer/Survivor" && char.id_caracteristique != null) {
            if(char.id_caracteristique == 1) {
                var testperso = "killer";
            }
            else {
                var testperso = "survivor";
            }
            return testperso.toLowerCase().match(this.search.toLowerCase());
        }
      });
    },
  },
  mounted(){
  	axios.get('/characters').then((response) => {
  	    // handle success
  	   this.characters = response.data
  	  })
  	  .catch((error)=> {
  	    // handle error
  	    console.log(error);
  	  })
  	  .then(() => {
  	    // always executed
  	  });
  },
  methods: {
    RemoveChar: function(id_personnage) {
      axios.get('/removecharacter/'+id_personnage).then((response) => {
  	    // handle success
  	  })
  	  .catch((error)=> {
  	    // handle error
  	    console.log(error);
  	  })
  	  .then(() => {
  	    // always executed
  	  });
    },
  }

}
</script>


<style scoped>
    .content {
        background-color: #1E293B;
        background-image: url(../assets/img/background.jpg);
        background-position: center top;
        background-repeat: no-repeat;
        padding:5% 0;
        min-height: 55vh;
    }
    .container {
        background-color: rgba(0, 0, 0, 0.6);
    }
    h1 {
        color: white;
        padding: 30px 0;
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }
    .recherche {
        color: white;
        padding: 15px;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        margin-left: 0px;
    }
    .recherche input {
        width: 40%;
    }
    .description {
        height: 150px;
        overflow: auto;
        font-family: 'Roboto', sans-serif;
    }
</style>