<template>
  <div class="content">
    <div class="container" v-if="this.$store.state.role=='Admin'">
        <h1>Add Character</h1>
        <div class="col-sm-6 offset-sm-3">
            <form @submit.prevent="addcharacter">
                <div class="form-group">
                    <label for="characterName">Character Name :</label>
                    <input type="text" class="form-control" id="characterName" v-model="name" aria-describedby="Name" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="characterImage">Character Image Large :</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" @change="onFileSelected1" id="customFile1" accept="image/*">
                        <label class="custom-file-label" for="customFile1">
                            <span v-if="this.image1 != null">{{this.image1.name}}</span>
                            <span v-else>Choose File</span>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="characterImage">Character Image Thumbnail :</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" @change="onFileSelected2" id="customFile2" accept="image/*">
                        <label class="custom-file-label" for="customFile2">
                            <span v-if="this.image2 != null">{{this.image2.name}}</span>
                            <span v-else>Choose File</span>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description">Character Description :</label>
                    <textarea type="text" class="form-control" id="description" v-model="desc" aria-describedby="Description" placeholder="Description"></textarea>
                </div>
                <div class="form-group">
                    <label for="type">Character Type :</label>
                    <select class="form-control" id="type" v-model="type">
                        <option value="1">Killer</option>
                        <option value="2">Survivor</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" class="form-control btn btn-secondary"/>
                </div>
            </form>
        </div>
    </div>
    <div class="container" v-else v-onload="this.$router.push('/404')">
        <h1>Access Denied</h1>
    </div>
 </div>
</template>

<script>
export default {
  name: 'AdminAddCharacter',
  data () {
    return {
    name : '',
    image1 : null,
    image2 : null,
    desc : '',
    type: '',
    }
  },
  computed: {
      
  },
  mounted(){
  	
  },
  methods: {
    addcharacter(){
      const fd = new FormData();
      fd.append('image1', this.image1, this.image1.name);
      fd.append('image2', this.image2, this.image2.name);
      fd.append('name', this.name);
      fd.append('desc', this.desc);
      fd.append('type', this.type);
      axios.post('addcharacter', fd, {
     })
      .then((response) => {
       console.log(response)
       this.$router.push('/admin/characters')
     })
      .catch((error) => {
       console.log(error.data);
     })
    },
    onFileSelected1(event) {
        this.image1 = event.target.files[0];
    },
    onFileSelected2(event) {
        this.image2 = event.target.files[0];
    },
  }

}
</script>


<style scoped>
    .content {
        background-color: #1E293B;
        background-image: url(../assets/img/background.jpg);
        background-position: center top;
        background-repeat: no-repeat;
        padding:5% 0;
        min-height: 55vh;
    }
    .container {
        background-color: rgba(0, 0, 0, 0.6);
        padding: 30px 0;
    }
    h1 {
        color: white;
        padding: 30px 0;
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }
    label {
        color: white;
    }
    .custom-file label {
        color: black;
    }
</style>