<template>
  <div class="content">
    <div class="container" v-if="this.$store.state.role=='Admin'">
        <h1>Perks</h1>
        <a href="/admin/perk/new" class="btn btn-outline-light btn-block col-sm-4 offset-sm-4" style="margin-bottom: 20px;">Add New Perk</a>
        <div class="row">
            <div class="col-sm-12 recherche">
               <label>Filter by : </label>
               <select v-model="selected">
                  <option selected value=""></option>
                  <option>Name</option>
                  <option>Killer/Survivor</option>
               </select>
               <label>Value : </label>
               <input type="text" v-model="search" placeholder="name" /> 
            </div>
            <div class="col-sm-12">
                 <table id="table_id" class="display table table-striped table-dark">
                     <thead><tr><th scope="col">#</th><th scope="col">Name</th><th scope="col">Img</th><th scope="col">Character/Common</th><th scope="col">Description</th></tr></thead>
                     <tbody>
                         <tr v-for="(perk, index) in filteredPerks" :key="index" scope="row">
                             <td>{{index+1}}</td>
                             <td>
                                 <span>{{perk.nom_perk}}</span>
                             </td>
                             <td>
                                 <img v-if="perk.caracteristique_commun == 1" v-bind:src="require('../assets/img/deadbydaylight/killers/perks/'+perk.img_perk)" width="100px;">
                                 <img v-else v-bind:src="require('../assets/img/deadbydaylight/survivors/perks/'+perk.img_perk)" width="100px;">
                             </td>
                             <td>
                                 <span v-if="perk.nom_personnage == null && perk.caracteristique_commun == 1">Common Killer</span>
                                 <span v-else-if="perk.nom_personnage == null && perk.caracteristique_commun == 2">Common Survivor</span>
                                 <span v-else>{{perk.nom_personnage}}</span>
                             </td>
                             <td>
                                 <p class="description" v-html="perk.description_perk">{{perk.description_perk}}</p>
                             </td>
                             <td><a v-bind:href="'/admin/edit/perk/'+perk.id_perk+'/'">Edit</a><br><a @click="RemovePerk(perk.id_perk)" href="/admin/perks">Delete</a></td>
                         </tr>
                     </tbody>
                 </table>
            </div>
        </div>
    </div>
    <div class="container" v-else v-onload="this.$router.push('/404')">
        <h1>Access Denied</h1>
    </div>
 </div>
</template>

<script>
export default {
  name: 'AdminPerks',
  data () {
    return {
    perks : [],
    perk : '',
    search : '',
    selected: '',
    }
  },
  computed: {
      filteredPerks: function() {
      return this.perks.filter(perk => {
        if(this.selected == "") {
            return perk.id_perk;
        }
        if(this.selected == "Name" && perk.nom_perk != null) {
            return perk.nom_perk.toLowerCase().match(this.search.toLowerCase());
        }
        if(this.selected == "Killer/Survivor" && perk.caracteristique_commun != null) {
            if(perk.caracteristique_commun == 1) {
                if(perk.nom_personnage != null) {
                    var testperso = perk.nom_personnage + "killer";
                }
                else {
                var testperso = "common killer";
                }
            }
            else if(perk.caracteristique_commun == 2) {
                if(perk.nom_personnage != null) {
                    var testperso = perk.nom_personnage + "survivor";
                }
                else {
                var testperso = "common survivor";
                }
            }
            return testperso.toLowerCase().match(this.search.toLowerCase());
        }
      });
    },
  },
  mounted(){
  	axios.get('/adminperks').then((response) => {
  	    // handle success
  	   this.perks = response.data
  	  })
  	  .catch((error)=> {
  	    // handle error
  	    console.log(error);
  	  })
  	  .then(() => {
  	    // always executed
  	  });
  },
  methods: {
    RemovePerk: function(id_perk) {
      axios.get('/removeperk/'+id_perk).then((response) => {
  	    // handle success
  	  })
  	  .catch((error)=> {
  	    // handle error
  	    console.log(error);
  	  })
  	  .then(() => {
  	    // always executed
  	  });
    },
  }

}
</script>


<style scoped>
    .content {
        background-color: #1E293B;
        background-image: url(../assets/img/background.jpg);
        background-position: center top;
        background-repeat: no-repeat;
        padding:5% 0;
        min-height: 55vh;
    }
    .container {
        background-color: rgba(0, 0, 0, 0.6);
    }
    h1 {
        color: white;
        padding: 30px 0;
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }
    .recherche {
        color: white;
        padding: 15px;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        margin-left: 0px;
    }
    .recherche input {
        width: 40%;
    }
    .description {
        height: 150px;
        overflow: auto;
        font-family: 'Roboto', sans-serif;
    }
</style>