<template>
  <div class="content">
    <div class="container">
        <div class="row" v-for="(build, b) in builds" v-bind:key="b" v-if="build.nom_personnage != null">
           <div class="col-sm-10 titre">
             <h1>{{build.nom_build}} <span class="by">by</span> <span class="username"><a v-bind:href="'/profile/'+build.username+'/'">{{build.username}}</a></span></h1>
           </div>
           <div class="col-sm-2 row top">
             <div class="col-sm-12 good" v-on:click="addlike(like)">
                 
             </div>
             <div class="col-sm-12">
                 <p v-if="like != null">{{like}}</p>
                 <p v-else>{{build.likes}} - {{like}}</p>
             </div>
             <div class="col-sm-12 bad" v-on:click="adddislike(like)">
                 
             </div>
           </div>
           <div class="col-sm-3 photoperso" style="text-align: center;">
               <img :src="require('../assets/img/deadbydaylight/killers/thumbnail/'+build.img_personnage)">
           </div>
           <div class="col-sm-9 description">
               <h2>Description</h2>
               <p>{{build.description_build}}</p>
           </div>
           <div class="col-sm-5 perk">
               <h2>Perks</h2>
               <div class="row">
                   <div class="col-md-3" v-for="(perks, i) in builds" :key="i" v-if="perks.nom_perk != null && perks.id_build == build.id_build">
                        <img class="perksimg" :src="require('../assets/img/deadbydaylight/killers/perks/'+perks.img_perk)" width="98%" v-on:click="ouvrirperks(i, index)">
                        <div :id="'backgroundperk'+index+i" class="backgroundperk" v-on:click="fermerperks(i, index)">
                            <div class="perkdesc row">
                                <div class="col-sm-4 col-md-4 col-lg-4 imgperk">
                                <img :src="require('../assets/img/deadbydaylight/killers/perks/'+perks.img_perk)" width="60%">
                                </div>
                                <div class="col-sm-8 col-md-8 col-lg-8 descperk">
                                    <h3>{{perks.nom_perk}}</h3>
                                    <p class="descriptionperk" v-html="perks.description_perk">{{perks.description_perk}}</p>
                                </div>
                            </div>
                        </div>         
                    </div>
                </div>
           </div>
           <div class="col-sm-2 items">
                <h2>Item</h2>
               <div class="col-sm-12">
                    <img class="itemsimg" :src="require('../assets/img/template/items/blanc.png')" width="100%">
               </div>
               <div class="col-sm-12 imgitems" v-for="(items, j) in builds" :key="j" v-if="items.id_type_objet == 1 && items.id_build == build.id_build">
                   <img class="itemsimg" :src="require('../assets/img/deadbydaylight/killers/items/'+items.img_objet)" width="100%" v-on:click="ouvriritems(j, index)" style="z-index: 1;">
                   <div :id="'backgrounditem'+index+j" class="backgroundperk" v-on:click="fermeritems(j, index)">
                       <div class="perkdesc row">
                            <div class="col-sm-4 col-md-4 col-lg-4 imgperk">
                                <img :src="require('../assets/img/deadbydaylight/killers/items/'+items.img_objet)" width="60%">
                            </div>
                            <div class="col-sm-8 col-md-8 col-lg-8 descperk">
                                <h3>{{items.nom_objet}}</h3>
                                <p class="descriptionperk" v-html="items.description_objet">{{items.description_objet}}</p>
                            </div>
                       </div>
                   </div>
                </div>
           </div>
           <div class="col-sm-3 addons">
                <h2>Addons</h2>
                <div class="row">
                <div class="col-sm-6">
                    <img class="noaddonsimg" :src="require('../assets/img/template/items/blanc.png')" width="100%">
                </div>
                <div class="col-sm-6">
                    <img class="noaddonsimg" :src="require('../assets/img/template/items/blanc.png')" width="100%">
                </div>
                <div class="col-sm-6 imgaddons" v-for="(addons, a) in builds" :key="a" v-if="addons.nom_addon != null && addons.id_build == build.id_build">
                    <img class="addonsimg" :src="require('../assets/img/deadbydaylight/killers/addons/'+addons.img_addon)" width="100%" v-on:click="ouvriraddons(a, index)" style="z-index: 1;">
                    <div :id="'backgroundaddon'+index+a" class="backgroundperk" v-on:click="fermeraddons(a, index)">
                        <div class="perkdesc row">
                            <div class="col-sm-4 col-md-4 col-lg-4 imgperk">
                                <img :src="require('../assets/img/deadbydaylight/killers/addons/'+addons.img_addon)" width="60%">
                            </div>
                            <div class="col-sm-8 col-md-8 col-lg-8 descperk">
                                <h3>{{addons.nom_addon}}</h3>
                                <p class="descriptionperk" v-html="addons.description_addon">{{addons.description_addon}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-sm-2 offering">
                <h2>Offering</h2>
                <div class="row">
                    <div class="col-sm-12 fakeoffering">
                        <img class="noofferingsimg" :src="require('../assets/img/template/offerings/blanc.png')" width="60%">
                    </div>
                    <div class="col-sm-12 imgoffering" v-for="(offerings, o) in builds" :key="o" v-if="offerings.nom_objet != null && offerings.id_type_objet == 2 && offerings.id_build == build.id_build">
                        <img class="offeringsimg" :src="require('../assets/img/deadbydaylight/killers/offerings/'+offerings.img_objet)" width="60%" v-on:click="ouvrirofferings(o, index)" style="z-index: 1;">
                        <div :id="'backgroundoffering'+index+o" class="backgroundperk" v-on:click="fermerofferings(o, index)">
                            <div class="perkdesc row">
                                <div class="col-sm-4 col-md-4 col-lg-4 imgperk">
                                    <img :src="require('../assets/img/deadbydaylight/killers/offerings/'+offerings.img_objet)" width="60%">
                                </div>
                                <div class="col-sm-8 col-md-8 col-lg-8 descperk">
                                    <h3>{{offerings.nom_objet}}</h3>
                                    <p class="descriptionperk" v-html="offerings.description_objet">{{offerings.description_objet}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'buildkiller',
  data () {
    return {
    builds : [],
    build : [],
    like : null,
    likes : '',
    }
  },
  mounted(){
    axios.get('/builds/'+this.$route.params.name).then((response) => {
  	    // handle success
  	   this.builds = response.data
       this.like = parseInt(response.data[0].likes);
  	  })
  	  .catch((error)=> {
  	    // handle error
  	    console.log(error);
        //window.location = "/404";
  	  })
  	  .then(() => {
  	    // always executed
  	  });   

  },
  methods: {
      ouvrirperk: function(n) {
          document.getElementById('backgroundperk'+n).style.display = "block";
      },
      fermerperk: function(n) {
          document.getElementById('backgroundperk'+n).style.display = "none";
      },
      ouvrirperks: function(i, index) {
          document.getElementById('backgroundperk'+index+i).style.display = "block";
      },
      fermerperks: function(i, index) {
          document.getElementById('backgroundperk'+index+i).style.display = "none";
      },
      ouvriritems: function(j, index) {
          document.getElementById('backgrounditem'+index+j).style.display = "block";
      },
      fermeritems: function(j, index) {
          document.getElementById('backgrounditem'+index+j).style.display = "none";
      },
      ouvriraddons: function(a, index) {
          document.getElementById('backgroundaddon'+index+a).style.display = "block";
      },
      fermeraddons: function(a, index) {
          document.getElementById('backgroundaddon'+index+a).style.display = "none";
      },
      ouvrirofferings: function(o, index) {
          document.getElementById('backgroundoffering'+index+o).style.display = "block";
      },
      fermerofferings: function(o, index) {
          document.getElementById('backgroundoffering'+index+o).style.display = "none";
      },
      addlike: function(like) {
        if(this.like == this.builds[0].likes)  {
            this.like += 1;
            axios.get('/addlike/'+this.$route.params.name).then((response) => {
            // handle success
            })
            .catch((error)=> {
            // handle error
            console.log(error);
            //window.location = "/404";
            })
            .then(() => {
            // always executed
            });
        }
      },
      adddislike: function(like, idbuild) {
        if(this.like == this.builds[0].likes)  {
            this.like -= 1;
            axios.get('/adddislike/'+this.$route.params.name).then((response) => {
            // handle success
            })
            .catch((error)=> {
            // handle error
            console.log(error);
            //window.location = "/404";
            })
            .then(() => {
            // always executed
            });
        }
      },
  },
  computed: {

  },

}
</script>


<style scoped>
    .content {
        background-color: #1E293B;
        background-image: url(../assets/img/background.jpg);
        background-position: center top;
        background-repeat: no-repeat;
        padding:5% 0;
        min-height: 55vh;
    }
    .container {
        background-color: rgba(0, 0, 0, 0.6);
    }
    h1 {
        color: white;
        padding: 30px 0;
        text-align: center;
        font-family: 'Roboto', sans-serif;
    } 
    h1 .by {
        font-size: 24px;
    }
    h1 .username {
        font-style: italic;
        font-size: 24px;
        font-weight: bold;
    }
    h2 {
        color: white;
        font-family: 'Roboto', sans-serif;
    }
    .top p {
        color: white;
        text-align: center;
        font-size: 2rem;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 0;
    }
    .top .good {
        margin-top: 5px;
        background-image: url(../assets/img/voteup.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center top;
        width: 50px;
        height: 25px;
        cursor: pointer;
    }
    .top .bad {
        background-image: url(../assets/img/votedown.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center top;
        width: 50px;
        height: 25px;
        cursor: pointer;
    }
    .photoperso {
        margin-bottom: 50px;
    }
    .description p {
        color: white;
        font-size: 16px !important;
        text-align: left !important;
    }
    .perk h2 {
        text-align: center;
    }
    .perk .col-md-3 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .items h2 {
        text-align: center;
    }
    .addons h2 {
        text-align: center;
    }
    .offering h2, .offering img {
        text-align: center;
    }
    .perksimg:hover {
        transform: scale(1.2);
        cursor: pointer;
    }
    .addonsimg:hover {
        transform: scale(1.2);
        cursor: pointer;
    }
    .itemsimg:hover {
        transform: scale(1.2);
        cursor: pointer;
    }
    .offeringsimg:hover {
        transform: scale(1.2);
        cursor: pointer;
    }
    .imgoffering, .fakeoffering {
        text-align: center;
    }
    .backgroundperk {
        display: none;
        position: fixed;
        width:100%;
        height: 100%;
        background-color: rgba(0,0,0,0.6);
        z-index:999;
        left:0;
        top: 0;
    }
    .perkdesc {
        width: 70%;
        height: auto;
        z-index:999;
        background-color: grey;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50vh;
        transform: translateY(-50%);
        background-image: url(../assets/img/background-perk.png);
        color: white;
        border:1px solid white;
    }
    .imgperk, .descperk {
        padding: 6% 2%;
        background-color: rgba(255,255,255,0.1);
    }
    .descperk {
        text-align: left;
    }
    .descperk h3 {
        text-align: left;
        padding-bottom: 20px;
    }
    @media screen and (max-width: 575px) {
        .descperk h3, .descperk p {
            text-align: center;
        }
        .perks .col-sm-4 {
            width: 33.33333% !important;
        }
        .description {
            margin-left: auto;
            margin-right: auto;
        }
    }
    .builds h2 {
        color: white;
        font-family: 'Roboto', sans-serif;
        text-align: center;
    }
    .builds {
        color: white;
        font-family: 'Roboto', sans-serif;
        text-align: center;
    }
    .builds .build {
        background-image: url(../assets/img/build-background.png);
        background-position: center;
        margin-bottom: 5px;
    }
    .builds .likes {
        height: 105px;
        line-height: 105px;
        flex-wrap: nowrap;
    }
    .builds .positivelike {
        background-image: url(../assets/img/test.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        color: green;
    }
    .builds .negativelike {
        background-image: url(../assets/img/test.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        color: red;
    }
    .builds .neutrallike {
        background-image: url(../assets/img/test.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        color: white;
    }
    .builds h3 {
        font-size: 1rem;
        font-weight: bold;
    }
    .builds .perksbuild .col-sm-3 {
        padding-left: 0;
        padding-right: 0;
    }
     @media screen and (max-width: 575px) {
        .builds .likes {
            max-width: 25%;
            flex: 0 0 25%;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 20px;
        }
        .builds .likes p {
            font-size: 3rem;
            font-weight: bold;
            padding-bottom:15px;
        }
        h2 {
            font-size: 1rem;
            font-weight: bold;
        }
        .builds .nomimgbuild {
            max-width: 75%;
            flex: 0 0 75%;
            padding-left: 15px;
            padding-right: 15px;
        }
        .builds .perksbuild {
            max-width: 100%;
            flex: 0 0 100%;
            padding-left: 30px;
        }
        .builds .perksbuild .col-sm-3 {
            max-width: 25%;
            flex: 0 0 25%;
            padding-left: 0px;
            padding-right: 0px;
            padding-top: 10px;
        }
        .builds .items {
            max-width: 25%;
            flex: 0 0 25%;
            margin-left: 1px;
            margin-right: 5px;
        }
        .builds .addons {
            max-width: 50%;
            flex: 0 0 50%;
        }
        .builds .addons .col-sm-6 {
            max-width: 50%;
            flex: 0 0 50%;
            padding-left: 0px;
            padding-right: 0px;
        }
        .builds .offering {
            max-width: 24%;
            flex: 0 0 24%;
            margin-left: 1px;
        }
        .builds .offering .offeringsimg, .builds .offering .noofferingsimg {
            width: 100% !important;
        }
        .builds .nomimgbuild .imgkiller {
            padding-left: 0 !important;
            padding-right: 0 !important;
            padding-top: 25px;
            display: none;
        }
        .builds .nombuild {
            max-width: 100%;
            flex: 0 0 100%;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 20px;
        }
        .builds .nombuild h3 {
            font-size: 2rem;
            font-weight: bold;
        }
        .builds .perksbuild .col-sm-3 img {
            padding-top: 17px;
        }
        .builds .items .itemsimg, .builds .items .noitemsimg {
            padding-top: 15px;
        }
        .builds .addons .addonsimg, .builds .addons .noaddonsimg {
            padding-top: 13px;
            width: 80%;
        }
        .builds .offering .offeringsimg, .builds .offering .noofferingsimg {
            padding-top: 10px;
        }
        .builds .noofferings {
            padding-top: 10px;
        }
        .divider1, .divider2 {
            display: inline-block;
            width: 0;
            height: 50px;
            margin-top: 32px;
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
            margin-left: 25px; 
        }
        .divider1 {
             display: none;
        }
        .perk {
            flex: 0 0 100% !important;
            max-width: 100% !important;
            margin-bottom: 50px;
        }
        .perk .row .col-md-3 {
            flex: 0 0 25% !important;
            max-width: 25% !important;
        }
        .photoperso {
            flex: 0 0 50%;
            max-width: 50%;
        }
        .description {
            flex: 0 0 50%;
            max-width: 50%;
        }
        .items {
            flex: 0 0 33.333334%;
            max-width: 33.333334%;
        }
        .imgitems {
            margin-top: -105px;     
        }
        .addons {
            flex: 0 0 66.666665%;
            max-width: 66.666665%;
            margin-bottom: 50px;
        }
        .addons .col-sm-6 {
            flex: 0 0 50%;
            max-width: 50%;
        }
        .offering {
            flex: 0 0 100%;
            max-width: 100%;
            margin-bottom: 50px;
        }
        .imgaddons {
            margin-top: -135px;     
        }
        .fakeoffering, .imgoffering {
            margin-left:25%;
            flex: 0 0 50%;
            max-width: 50%;
        }
        .imgoffering {
            margin-top: -148px; 
        }
         .titre {
             flex: 0 0 80%;
             width: 80%;
         }
         .top {
             flex: 0 0 20%;
             width: 20%;
         }
    }
    @media screen and (min-width: 576px) and (max-width: 767px) {
        .builds .likes {
            max-width: 25%;
            flex: 0 0 25%;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 8px;
        }
        .builds .likes p {
            font-size: 3rem;
            font-weight: bold;
            padding-bottom:15px;
        }
        h2 {
            font-size: 1rem;
            font-weight: bold;
        }
        .builds .nomimgbuild {
            max-width: 75%;
            flex: 0 0 75%;
            padding-left: 15px;
            padding-right: 15px;
        }
        .builds .perksbuild {
            max-width: 50%;
            flex: 0 0 50%;
            padding-left: 30px;
        }
        .builds .items {
            max-width: 12.5%;
            flex: 0 0 12.5%;
            margin-left: 1px;
            margin-right: 5px;
        }
        .perk {
            flex: 0 0 100% !important;
            max-width: 100% !important;
            margin-bottom: 50px;
        }
        .perk .row .col-md-3 {
            flex: 0 0 25% !important;
            max-width: 25% !important;
        }
        .builds .addons {
            max-width: 25%;
            flex: 0 0 25%;
        }
        .builds .offering {
            max-width: 12.5%;
            flex: 0 0 12.5%;
            margin-left: 1px;
        }
        .builds .offering .offeringsimg, .builds .offering .noofferingsimg {
            width: 100% !important;
        }
        .builds .nomimgbuild .imgkiller {
            padding-left: 0 !important;
            padding-right: 0 !important;
            padding-top: 25px;
            display: none;
        }
        .builds .nombuild {
            max-width: 100%;
            flex: 0 0 100%;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 20px;
        }
        .builds .nombuild h3 {
            font-size: 2rem;
            font-weight: bold;
        }
        .builds .perksbuild .col-sm-3 img {
            padding-top: 17px;
        }
        .builds .items .itemsimg, .builds .items .noitemsimg {
            padding-top: 29px;
        }
        .builds .addons .addonsimg, .builds .addons .noaddonsimg {
            padding-top: 13px;
        }
        .builds .offering .offeringsimg, .builds .offering .noofferingsimg {
            padding-top: 20px;
        }
        .divider1, .divider2 {
            display: inline-block;
            width: 0;
            height: 50px;
            margin-top: 22px;
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
            margin-left: 25px; 
        }
        .items .imgitems {
            margin-top: -120px;
        }
        .addons .imgaddons {
            margin-top: -150px;
        }
        .offering .imgoffering {
            margin-top: -165px;
        }
        .photoperso {
            flex: 0 0 50%;
            max-width: 50%;
        }
        .description {
            flex: 0 0 50%;
            max-width: 50%;
        }
        .items {
            flex: 0 0 33.333334%;
            max-width: 33.333334%;
        }
        .addons {
            flex: 0 0 66.666665%;
            max-width: 66.666665%;
            margin-bottom: 50px;
        }
        .offering {
            flex: 0 0 100%;
            max-width: 100%;
        }
        .fakeoffering, .imgoffering {
            margin-left:25%;
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
    @media screen and (min-width: 768px) and (max-width: 991px) {
        .builds .likes {
            max-width: 25%;
            flex: 0 0 25%;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 8px;
        }
        h2 {
            font-size: 1rem;
            font-weight: bold;
        }
        .builds .likes p {
            font-size: 3rem;
            font-weight: bold;
            padding-bottom:15px;
        }
        .builds .nomimgbuild {
            max-width: 75%;
            flex: 0 0 75%;
            padding-left: 15px;
            padding-right: 15px;
        }
        .builds .perksbuild {
            max-width: 50%;
            flex: 0 0 50%;
            padding-left: 30px;
        }
        .builds .items {
            max-width: 12.5%;
            flex: 0 0 12.5%;
            margin-left: 1px;
            margin-right: 5px;
        }
        .builds .addons {
            max-width: 25%;
            flex: 0 0 25%;
        }
        .builds .offering {
            max-width: 12.5%;
            flex: 0 0 12.5%;
            margin-left: 1px;
        }
        .builds .offering .offeringsimg, .builds .offering .noofferingsimg {
            width: 100% !important;
        }
        .builds .nomimgbuild .imgkiller {
            padding-left: 0 !important;
            padding-right: 0 !important;
            padding-top: 25px;
            display: none;
        }
        .builds .nombuild {
            max-width: 100%;
            flex: 0 0 100%;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 20px;
        }
        .builds .nombuild h3 {
            font-size: 2rem;
            font-weight: bold;
        }
        .builds .perksbuild .col-sm-3 img {
            padding-top: 17px;
        }
        .builds .items .itemsimg, .builds .items .noitemsimg {
            padding-top: 29px;
        }
        .builds .addons .addonsimg, .builds .addons .noaddonsimg {
            padding-top: 13px;
        }
        .builds .offering .offeringsimg, .builds .offering .noofferingsimg {
            padding-top: 20px;
        }
        .divider1, .divider2 {
            display: inline-block;
            width: 0;
            height: 50px;
            margin-top: 34px;
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
            margin-left: 25px; 
        }
        .items .imgitems {
            margin-top: -61px;
        }
        .addons .imgaddons {
            margin-top: -61px;
        }
        .offering .imgoffering {
            margin-top: -61px;
        }
    }
    @media screen and (min-width: 992px) and (max-width: 1199px) {
        .builds .likes {
            max-width: 8.333333%;
            flex: 0 0 8.333333%;
            padding-left: 15px;
            padding-right: 15px;
        }
        .builds .likes p {
            font-size: 1.5rem;
            font-weight: bold;
            padding-bottom:15px;
        }
        .builds .nomimgbuild {
            max-width: 25%;
            flex: 0 0 25%;
            padding-left: 15px;
            padding-right: 15px;
        }
        .builds .perksbuild {
            max-width: 33.333333%;
            flex: 0 0 33.333333%;
            padding-left: 15px;
            padding-right: 15px;
        }
        .builds .items {
            max-width: 11.666667%;
            flex: 0 0 11.666667%;
            padding-left: 15px;
            padding-right: 15px;
        }
        .builds .addons {
            max-width: 14.666667%;
            flex: 0 0 14.666667%;
            padding-left: 15px;
            padding-right: 15px;
        }
        .builds .offering {
            max-width: 13.666667%;
            flex: 0 0 13.666667%;
            padding-left: 15px;
            padding-right: 15px;
        }
        .builds .nomimgbuild .imgkiller {
            padding-left: 0 !important;
            padding-right: 0 !important;
            padding-top: 26.5px;
            display: block;
        }
        .builds .nombuild {
            padding-top: 26.5px;
            height: 105px;
        }
        .builds .perksbuild .col-sm-3 img {
            padding-top: 17px;
        }
        .builds .items .itemsimg, .builds .items .noitemsimg {
            padding-top: 29px;
        }
        .builds .addons .addonsimg, .builds .addons .noaddonsimg {
            padding-top: 27.5px;
        }
        .builds .offering .offeringsimg, .builds .offering .noofferingsimg {
            padding-top: 20px;
        }
        .divider1, .divider2 {
            display: inline-block;
            width: 0;
            height: 50px;
            margin-top: 30px;
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
            margin-left: 15px; 
        }
        .items .imgitems {
            margin-top: -93px;
        }
        .addons .imgaddons {
            margin-top: -94px;
        }
        .offering .imgoffering {
            margin-top: -95px;
        }
    }
    @media screen and (min-width: 1200px) {
        .builds .likes {
            max-width: 8.333333%;
            flex: 0 0 8.333333%;
            padding-left: 15px;
            padding-right: 15px;
        }
        .builds .likes p {
            font-size: 2rem;
            font-weight: bold;
            padding-bottom:15px;
        }
        .builds .nomimgbuild {
            max-width: 25%;
            flex: 0 0 25%;
            padding-left: 15px;
            padding-right: 15px;
        }
        .builds .perksbuild {
            max-width: 33.333333%;
            flex: 0 0 33.333333%;
            padding-left: 15px;
            padding-right: 15px;
        }
        .builds .items {
            max-width: 11.666667%;
            flex: 0 0 11.666667%;
            padding-left: 15px;
            padding-right: 15px;
        }
        .builds .addons {
            max-width: 14.666667%;
            flex: 0 0 14.666667%;
            padding-left: 15px;
            padding-right: 15px;
        }
        .builds .offering {
            max-width: 13.666667%;
            flex: 0 0 13.666667%;
            padding-left: 15px;
            padding-right: 15px;
        }
        .builds .nomimgbuild .imgkiller {
            padding-left: 0 !important;
            padding-right: 0 !important;
            padding-top: 21.5px;
            display: block;
        }
        .builds .nombuild {
            padding-top: 26.5px;
            height: 105px;
        }
        .builds .perksbuild .col-sm-3 img {
        padding-top: 9.5px;
        }
        .builds .items .itemsimg, .builds .items .noitemsimg {
        padding-top: 16px;
        }
        .builds .addons .addonsimg, .builds .addons .noaddonsimg {
        padding-top: 18px;
        }
        .builds .offering .offeringsimg, .builds .offering .noofferingsimg {
        padding-top: 9px;
        }
        .divider1, .divider2 {
        display: inline-block;
        width: 0;
        height: 50px;
        margin-top: 27px;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        margin-left: 15px; 
        }
        .items .imgitems {
            margin-top: -130px;
        }
        .addons .imgaddons {
            margin-top: -114px;
        }
        .offering .imgoffering {
            margin-top: -110px;
        }
    }
    @media screen and (min-width: 576px) {
        .builds .addons .col-sm-6 {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
        .builds .addons .col-sm-12 {
            padding-right: 0 !important;
            padding-left: 0 !important;
        }
    }
    .builds .items .itemsimg:hover {
        transform: scale(1.2);
        cursor: pointer;
    }
    .builds .addons .addonsimg:hover {
        transform: scale(1.2);
        cursor: pointer;
    }
    .builds .offering .offeringsimg:hover {
        transform: scale(1.2);
        cursor: pointer;
    }
</style>