<template>
	<div class="content">
		<div class="container">
			<div class="row formulaire">
				<form class="vue-form" @submit.prevent="submit">
                    <div class="error-message">
                        <p v-show="!email.valid">Please enter a valid email address.</p>
                    </div>
                    <fieldset>
                        <legend>Contact us if u have any question</legend>
                        <div>
                            <label class="label" for="name">Name</label>
                            <input type="text" name="name" id="name" required="" v-model="name">
                        </div>
                        <div>
                            <label class="label" for="mail">Email</label>
                            <input type="email" name="mail" id="mail" required="" :class="{ email , error: !email.valid }" v-model="email.value">
                        </div>
                        <div>
                            <label class="label" for="text">Message</label>
                            <textarea class="message" name="text" id="text" required="" v-model="message.text" :maxlength="message.maxlength"></textarea>
                            <span class="counter">{{ message.text.length }} / {{ message.maxlength }}</span>
                        </div>
                        <div>
                            <input type="submit" value="Send Mail">
                        </div>
                    </fieldset>
                </form>
			</div>
		</div>
	</div>
</template>
<script>
var emailRegExp = /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/;
export default {

  name: 'creabuild',

  data () {
    return {
    	name: "Mathieu Côte",
      email: {
        value: "mathieu.cote@test.com",
        valid: true
      },
      message: {
        text: `I think you have done a pretty good site so far`,
        maxlength: 255
      },
      submitted: false
    }
  },
  methods: {
    // submit form handler
    submit: function() {
      this.submitted = true;
      axios.post('/contactmail', {
        name: this.name,
        mail: this.email.value,
        text: this.message.text
      })
      .then((response) => {
        console.log('passé')
        console.log(response);
      })
      .catch((error) => {
        console.log("un probleme est survenue")
      }) 
    },
    // validate by type and value
    validate: function(type, value) {
      if (type === "email") {
        this.email.valid = this.isEmail(value) ? true : false;
      }
    },
    // check for valid email adress
    isEmail: function(value) {
      return emailRegExp.test(value);
    },
    // check or uncheck all
    checkAll: function(event) {
      this.selection.features = event.target.checked ? this.features : [];
    }
  },  
  mounted(){
  	axios.get('/killers/').then((response) => {
  	    // handle success
  	   this.killers = response.data
  	   console.log(response);
  	  })
  	  .catch((error)=> {
  	    // handle error
  	    console.log(error);
        //window.location = "/404";
  	  })
  	  .then(() => {
  	    // always executed
  	  });
  	axios.get('/survivors/').then((response) => {
      // handle success
      this.survivors = response.data
      console.log(response);
    })
    .catch((error)=> {
      // handle error
      console.log(error);
      //window.location = "/404";
    })
    .then(() => {
      // always executed
    });
  },
  watch: {
    // watching nested property
    "email.value": function(value) {
      this.validate("email", value);
    },    
  },
}
</script>

<style lang="css" scoped>
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400");

.content {
    background-color: #1E293B;
    background-image: url(../assets/img/background.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    padding:5% 0;
    min-height: 55vh;
}

.vue-form {
    font-size: 16px;
    width: 500px;
    padding: 15px 30px;
    border-radius: 4px;
    margin: 50px auto;
    width: 500px;
    box-shadow: 0 6px 30px 30px rgba(0, 0, 0, 0.3);
}
.vue-form fieldset {
    margin: 24px 0 0 0;
}
.vue-form legend {
    padding-bottom: 10px;
    border-bottom: 1px solid #ecf0f1;
    text-align: center;
    color: white;
}
.vue-form div {
    position: relative;
    margin: 20px 0;
}
.vue-form .label {
    display: block;
}
.vue-form label {
    color: white;        
}
.vue-form textarea,
.vue-form select,
.vue-form input {
    color: #2b3e51;
}
.vue-form input[type="text"],
.vue-form input[type="email"],
.vue-form textarea,
.vue-form select,
.vue-form legend {
    display: block;
    width: 100%;
    appearance: none;
}
.vue-form input[type="text"],
.vue-form input[type="email"],
.vue-form textarea,
.vue-form select {
    padding: 12px;
    border: 1px solid #cfd9db;
    background-color: #ffffff;
    border-radius: 0.25em;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
}
.vue-form input[type="text"]:focus,
.vue-form input[type="email"]:focus,
.vue-form textarea:focus,
.vue-form select:focus {
    outline: none;
    border-color: #2c3e50;
    box-shadow: 0 0 5px rgba(44, 151, 222, 0.2);
}
.vue-form textarea {
    min-height: 120px;
    resize: vertical;
    overflow: auto;
}
.vue-form input[type="submit"] {
    border: 1px solid white;
    background: #2c3e50;
    border-radius: 0.25em;
    padding: 12px 20px;
    color: #ffffff;
    font-weight: bold;
    float: right;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    appearance: none;
}
.no-touch .vue-form input[type="submit"]:hover {
    background: #42a2e1;
}
.vue-form input[type="submit"]:focus {
    outline: none;
    background: #2b3e51;
}
.vue-form input[type="submit"]:active {
    transform: scale(0.9);
}
.vue-form .error-message {
    height: 35px;
    margin: 0px;
}
.vue-form .error-message p {
    background: #e94b35;
    color: #ffffff;
    font-size: 1.4rem;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 0.25em;
    padding: 16px;
}
.vue-form .error {
    border-color: #e94b35 !important;
}
.vue-form .counter {
    background-color: #ecf0f1;
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 10px;
    padding: 4px;
}
</style>

