<template>
	<div class="content">
		<div class="container">
			<div class="row buttonselectperso">
					<div class=" col-sm-12 col-md-6 col-lg-5 offset-lg-1">
						<button type="button" class="btn btn-outline-warning btn-block btnselectkiller" @click="KillersSelected()">Killers</button>
					</div>
					<div class=" col-sm-12 col-md-6 col-lg-5">
						<button type="button" class="btn btn-outline-light btn-block btnselectsurvivor" @click="SurvivorsSelected()">Survivors</button>
					</div>
			</div>
			<div class="row">        
          <div v-if="flagKiller==true" class="col-sm-6 col-md-6 col-lg-3 killers" v-bind:class="flagSurvivor ? nodisplayperso : '' " v-for="killer in killers" :key="killer.nom_personnage" >
  				    <a v-bind:href="'/creabuild/' + killer.nom_personnage" @click="recupinfopersonnage(killer.nom_personnage,killer.id_personnage,killer.img_personnage)">
  					    <div v-bind:class="killer.id_personnage + ' killer'" v-bind:style="{ 'background-image': 'url(' + require('../assets/img/deadbydaylight/killers/thumbnail/' + killer.img_personnage ) + ')' }">
  					    </div>
  				    </a>
  				</div>
  				<div v-if="flagSurvivor==true" class="col-sm-6 col-md-6 col-lg-3 survivors" v-bind:class="flagKiller ? nodisplayperso : '' " v-for="survivor in survivors" :key="survivor.nom_personnage">
  				    <a v-bind:href="'/creabuild/' + survivor.nom_nospace_personnage">
  				    <div v-bind:class="survivor.id_personnage + ' survivor'" v-bind:style="{ 'background-image': 'url(' + require('../assets/img/deadbydaylight/survivors/thumbnail/' + survivor.img_personnage ) + ')' }" @click ="recupinfopersonnage(survivor.nom_personnage,survivor.id_personnage,survivor.img_personnage)">
  				    </div>
  				    </a>
  				</div>
			</div>
		</div>
	</div>
</template>
<script>
export default {

  name: 'creabuild',

  data () {
    return {
    	killers:[],
      killer:'',
    	survivors:[],
    	flagKiller : false,
    	flagSurvivor: false,
    	nodisplayperso:'nodisplayperso'
    }
  },
  methods: {
    recupinfopersonnage(personnage,id,image){
      let arrayperso = {
        'id':id,
        'personnage':personnage,
        'image':image
      }
      this.$store.dispatch('setPersonnage',arrayperso);
      //this.$router.push("'/creabuild/'"+killer)

    },
  	KillersSelected(){
  		this.flagKiller = true
  		this.flagSurvivor = false
      this.$store.dispatch('setkillorsurv','killer');
  		console.log('surv'+this.flagSurvivor)
  		console.log('killer'+this.flagKiller)

  	},

  	SurvivorsSelected(){
  		this.flagKiller = false
  		this.flagSurvivor = true
      this.$store.dispatch('setkillorsurv','surv');
  		console.log('surv'+this.flagSurvivor)
  		console.log('killer'+this.flagKiller)

  	}
  },  
  mounted(){
  	axios.get('/killers/').then((response) => {
  	    // handle success
  	   this.killers = response.data
  	   console.log(response);
  	  })
  	  .catch((error)=> {
  	    // handle error
  	    console.log(error);
        //window.location = "/404";
  	  })
  	  .then(() => {
  	    // always executed
  	  });
  	axios.get('/survivors/').then((response) => {
      // handle success
      this.survivors = response.data
      console.log(response);
    })
    .catch((error)=> {
      // handle error
      console.log(error);
      //window.location = "/404";
    })
    .then(() => {
      // always executed
    });
	},
}
</script>

<style lang="css" scoped>
.content {
    background-color: #1E293B;
    background-image: url(../assets/img/background.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    padding:5% 0;
    min-height: 55vh;
}

.buttonselectperso{

margin-bottom: 2em;

}
.nodisplayperso{

display: none;

}
.survivors a {
    text-decoration: none;
}
.survivor {
    width: 190px;
    height: 208px;
    margin: 0 auto 20px;
}
.killers a {
    text-decoration: none;
}
.killer {
    width: 190px;
    height: 208px;
    margin: 0 auto 20px;
} 
</style>

