<template>
  <div class="footer">
   <p>All copyrighted material displayed here is property of its owners. This site is not officially affiliated with the developer or publisher of <a href="http://www.deadbydaylight.com/">Dead By Daylight.</a></p>
 </div>
</template>

<script>
export default {
  name: 'Footer',
  data () {
    return {

    }
  }
}
</script>


<style scoped>
    .footer {
        background-image: url(../assets/img/banner.jpg);
        background-position: center top;
        background-color: rgba(0,0,0,0.5);
        text-align: center;
        border-top: 1px solid white;
        padding: 20px 0;
    }
    .footer p {
        color: white;
        font-family: 'Roboto', sans-serif;
        margin-top:1rem;
    }
</style>
