<template>
	<div class="content">	
		<div v-if="this.$store.state.token">
			<form>
				<div v-if="flagperso!='surv'">
					<div>
						<div class="imgpersonnage" v-bind:style="{ 'background-image': 'url(' + require('../assets/img/deadbydaylight/killers/thumbnail/'+imageperso)+')' }">
						</div>
						<p class="text-center nompersonnage">{{nomperso}}</p>
					</div>
				</div>
				<div v-else>
					<div class="imgpersonnage" v-bind:style="{ 'background-image': 'url(' + require('../assets/img/deadbydaylight/survivors/thumbnail/'+imageperso)+')' }">
					</div>
					<p class="text-center nompersonnage">{{nomperso}}</p>	

				</div>
				<div class="container-fluid">
					<div class="row">
						<input class="titlebuild col-sm-6 offset-sm-3 text-center form-control" type="text" placeholder="chose a name for your build" v-model="title">
						<div class="col-sm-12 perks text-center">	
							<img :id="'perk_'+n" v-for="n in 4" src="../assets/img/template/perks/blanc.png" @click="selectionperk(n)">
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 items text-center">
							<img class="power" v-if="flagperso=='killer'" v-for="item in items" v-bind:src= "require('../assets/img/deadbydaylight/killers/items/'+item.img_objet)">
							<img class="itemsurv" id="itemsurv" v-if="flagperso=='surv'" src="../assets/img/template/items/blanc.png" @click="selectionitemsurv">
							<img :id="'item_'+n" v-for="n in 2" src="../assets/img/template/items/blanc.png" @click="selectionitem(n)">
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 offering text-center">
							<img id="offering" src="../assets/img/template/offerings/blanc.png" @click="selectionoffering">	
						</div> 
					</div>
					<div class="row">
						<div class="col-sm-6 offset-sm-3 descbuild">	
							<textarea class="form-control" placeholder="Explain your build here (if you want)" v-model="descbuild"></textarea>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6 offset-sm-3">	
							<button type="button" class="btn btn-outline-success btn-block text-center" @click="confirmform">Create build</button>
						</div>
					</div>
					<div>
						<div :id="'backgroundperks'" class="backgroundform" @click="fermerselectionperk">
							<div :id="'perksblock'" class="contentdesc row">
								<div class="col-sm-9 contentperkdesc">
									<div class="row">									
										<div v-for="perk in perks" class="col-md-3">
											<div v-if="flagperso=='killer'">
												<div>	
													<div class="imgperk " :id="'p_'+perk.id_perk" v-bind:style="{ 'background-image': 'url(' + require('../assets/img/deadbydaylight/killers/perks/'+perk.img_perk)+')' }" @click="confirmperk(perk.id_perk)" @mouseover="descperk(perk.id_perk)">
													</div>
												</div> 	
											</div>
											<div v-else>
												<div>	
													<div class="imgperk"  :id="'p_'+perk.id_perk" v-bind:style="{ 'background-image': 'url(' + require('../assets/img/deadbydaylight/survivors/perks/'+perk.img_perk)+')' }" @click="confirmperk(perk.id_perk)" @mouseover="descperk(perk.id_perk)">
													</div>
												</div>										
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3 contentperkdesc">
                                    <div v-for="perk in perks" v-if="perk.id_perk == idperk">
                                        <h2>{{perk.nom_perk}}</h2>
                                        <p v-html="perk.description_perk">{{perk.description_perk}}</p>
                                    </div> 
								</div>
							</div>
						</div> 							
					</div>
					<div>
						<div :id="'backgrounditems'" class="backgroundform" @click="fermerselectionitem">
							<div :id="'itemsblock'" class="contentdesc row">
								<div class="col-sm-9 contentperkdesc">
									<div class="row">									
										<div v-for="addon in addons" class="col-md-3">
											<div v-if="flagperso=='killer'">
												<div>	
													<div class="imgaddon" :id="'a_'+addon.id_addon" v-bind:style="{ 'background-image': 'url(' + require('../assets/img/deadbydaylight/killers/addons/'+addon.img_addon)+')' }" @click="confirmaddon(addon.id_addon)" @mouseover="descaddon(addon.id_addon)">
													</div>
												</div> 	
											</div>
											<div v-else>
												 <div>	
													<div class="imgaddon" :id="'a_'+addon.id_addon" v-bind:style="{ 'background-image': 'url(' + require('../assets/img/deadbydaylight/survivors/addons/'+addon.img_addon)+')' }" @click="confirmaddon(addon.id_addon)" @mouseover="descaddon(addon.id_addon)">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3 contentperkdesc">
                                    <div v-for="addon in addons" v-if="addon.id_addon == idaddon">
                                        <h2>{{addon.nom_addon}}</h2>
                                        <p v-html="addon.description_addon">{{addon.description_addon}}</p>
                                    </div> 
								</div>
							</div>	
						</div> 							
					</div>
					<div v-if="flagperso=='surv'">
						<div :id="'backgrounditemssurv'" class="backgroundform" @click="fermerselectionitemsurv">
							<div :id="'itemssurvblock'" class="contentdesc row">
								<div class="col-sm-9 contentperkdesc">
									<div class="row">							
										<div v-for="item in items" class="col-sm-3">
											<div>	
												<div class="imgitem " :id="'i_'+item.id_objet" v-bind:style="{ 'background-image': 'url(' + require('../assets/img/deadbydaylight/survivors/items/'+item.img_objet)+')' }" @click="confirmitemsurv(item.id_objet)" @mouseover="descitem(item.id_objet)">
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3 contentperkdesc">
                                    <div v-for="item in items" v-if="item.id_objet == iditem">
                                        <h2>{{item.nom_objet}}</h2>
                                        <p v-html="item.description_objet">{{item.description_objet}}</p>
                                    </div> 
								</div>
							</div>	
						</div> 							
					</div>
					<div>
						<div :id="'backgroundoffering'" class="backgroundform" @click="fermerselectionoffering">
							<div :id="'offeringsblock'" class="contentdesc row">
								<div class="col-sm-9 contentperkdesc">
									<div class="row">									
										<div v-for="offering in offerings" class="col-sm-3">
											<div v-if="flagperso=='killer'">
												<div>	
													<div class="imgoffering" :id="'o_'+offering.id_objet" v-bind:style="{ 'background-image': 'url(' + require('../assets/img/deadbydaylight/killers/offerings/'+offering.img_objet)+')' }" @click="confirmoffering(offering.id_objet)" @mouseover="descoffering(offering.id_objet)">
													</div>
												</div> 	
											</div>
											<div v-else>
												<div>	
													<div class="imgoffering"  :id="'o_'+offering.id_objet"  v-bind:style="{ 'background-image': 'url(' + require('../assets/img/deadbydaylight/survivors/offerings/'+offering.img_objet)+')' }" @click="confirmoffering(offering.id_objet)" @mouseover="descoffering(offering.id_objet)">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3 contentperkdesc">
                                    <div v-for="offering in offerings" v-if="offering.id_objet == idoffering">
                                        <h2>{{offering.nom_objet}}</h2>
                                        <p v-html="offering.description_objet">{{offering.description_objet}}</p>
                                    </div> 
								</div>
							</div>	
						</div> 							
					</div>
				</div>
			</form>
		</div>
	</div>
</template>

<script>
export default {

  name: 'formbuild',

  data () {
    return {
    	killers:[],
    	selectionage: '',
    	imageperso: this.$store.state.personnage['image'],
    	nomperso: this.$store.state.personnage['personnage'],
    	flagperso: this.$store.state.killerorsurv,
    	perks:[],
    	items:[],
    	addons:[],
    	offerings:[],
    	numberperk:'',
    	numberitem:'',
    	perkselected:[],
    	addonselected:[],
    	offeringselected:'',
    	title:'',
    	itemsurvselected:'',
    	itemsurvselectedtemp:'',
    	descbuild:'',
    	id_user: this.$store.state.id_user,
    	id_perso:this.$store.state.personnage['id'],
        idperk: '',
        idaddon: '',
        idoffering: '',
        iditem: '',
        blancaddon:'/static/img/blanc.3eb502b.png',
        flagperkdouble:'0',
        flagaddondouble:'0'
    }
  },
  methods: {

  	selectionitemsurv: function(){

  		document.getElementById('backgrounditemssurv').style.display = "block";
  		document.getElementById('itemssurvblock').style.display = "flex"; 
  	},
  	fermerselectionitemsurv: function(){
		document.getElementById('backgrounditemssurv').style.display = "none";
		document.getElementById('itemssurvblock').style.display = "none";
    },
  	selectionperk: function(n) {
          console.log( document.getElementById('perk_'+n));
          this.numberperk = n;
          document.getElementById('backgroundperks').style.display = "block";
          document.getElementById('perksblock').style.display = "flex";  
    },
    
    fermerselectionperk(){
	      document.getElementById('backgroundperks').style.display = "none";
	      document.getElementById('perksblock').style.display = "none";
    },
    confirmperk: function(idperk){
    	console.log(document.getElementById('p_'+idperk).style.backgroundImage)
    	let urlimg = document.getElementById('p_'+idperk).style.backgroundImage
    	let imgselected = urlimg.substring(urlimg.indexOf("\"")+1,urlimg.lastIndexOf("\""));
    	let flagdoublon = false
    	console.log(imgselected)
     	this.perkselected.forEach(function(id) {
     		if (id == idperk) {

     			flagdoublon = true
     			console.log(flagdoublon)
     		}
     	});
     	if (flagdoublon == true) {
     		this.flagperkdouble = 1

     	}else{
     		this.flagperkdouble = 0

     	}
     	console.log(this.flagperkdouble)
     	if (this.flagperkdouble !=1) {

     	document.getElementById("perk_"+this.numberperk).src = imgselected
    	this.perkselected[this.numberperk-1] = idperk
     	}
    	console.log(this.perkselected)
    },
    descperk: function(idperk){
    	this.idperk = idperk;
    },
    descaddon: function(idaddon){
    	this.idaddon = idaddon;
    },
    descoffering: function(idoffering){
    	this.idoffering = idoffering;
    },
    descitem: function(iditem){
    	this.iditem = iditem;
    },
    confirmitemsurv: function(iditem){
    	let urlimg = document.getElementById('i_'+iditem).style.backgroundImage
    	console.log(urlimg)
    	let imgselected = urlimg.substring(urlimg.indexOf("\"")+1,urlimg.lastIndexOf("\""));
    	console.log(imgselected)
    	document.getElementById("itemsurv").src = imgselected
    	this.itemsurvselected = iditem


    	if (this.itemsurvselectedtemp == '') {

    		this.itemsurvselectedtemp = iditem
    	}
    	if (this.itemsurvselectedtemp != '' && this.itemsurvselectedtemp != iditem) {
			document.getElementById("item_1").src = this.blancaddon
			document.getElementById("item_2").src = this.blancaddon
			this.addonselected = []
    		this.itemsurvselectedtemp = iditem
    		
    	}
    	console.log(this.itemsurvselected)
    },
    confirmaddon: function(idaddon){
		console.log(document.getElementById('a_'+idaddon).style.backgroundImage)
		let urlimg = document.getElementById('a_'+idaddon).style.backgroundImage
		let imgselected = urlimg.substring(urlimg.indexOf("\"")+1,urlimg.lastIndexOf("\""));
		let flagdoublonadds = false
		console.log(imgselected)
	 	this.addonselected.forEach(function(id) {
	 		if (id == idaddon) {

	 			flagdoublonadds = true
	 			console.log(flagdoublonadds)
	 		}
	 	});
	 	if (flagdoublonadds == true) {
	 		this.flagaddondouble = 1

	 	}else{
	 		this.flagaddondouble = 0

	 	}
	 	console.log(this.flagaddondouble)
	 	if (this.flagaddondouble !=1) {
		 	document.getElementById("item_"+this.numberitem).src = imgselected
			this.addonselected[this.numberitem-1] = idaddon

	 	}
		console.log(this.addonselected)

    },
    confirmoffering: function(idoffering){
		console.log(document.getElementById('o_'+idoffering).style.backgroundImage)
		let urlimg = document.getElementById('o_'+idoffering).style.backgroundImage
		let imgselected = urlimg.substring(urlimg.indexOf("\"")+1,urlimg.lastIndexOf("\""));
		console.log(imgselected)
	 	document.getElementById("offering").src = imgselected
		this.offeringselected = idoffering
		console.log(this.offeringselected)
    },
    selectionitem: function(n) {
		console.log( document.getElementById('item_'+n));
		this.numberitem = n;
		document.getElementById('backgrounditems').style.display = "block";
		document.getElementById('itemsblock').style.display = "flex";
    },
    fermerselectionitem: function(){
	      document.getElementById('backgrounditems').style.display = "none";
	      document.getElementById('itemsblock').style.display = "none";
    },
    selectionoffering: function() {
		document.getElementById('backgroundoffering').style.display = "block";
		document.getElementById('offeringsblock').style.display = "flex";
    },
    fermerselectionoffering: function(){
    	document.getElementById('backgroundoffering').style.display = "none";
    	document.getElementById('offeringsblock').style.display = "none";
    },
    confirmform: function(){
    	console.log('debut log form')
    	let nom_build = this.title
    	let desc_build = this.descbuild
    	let id_user = this.id_user
    	let id_personnage = this.id_perso
    	let id_perk1 = this.perkselected[0]
    	let id_perk2 = this.perkselected[1]
    	let id_perk3 = this.perkselected[2]
    	let id_perk4 = this.perkselected[3]
    	let id_objet = ''
    	if (this.flagperso=='killer') {
    		id_objet = this.items[0].id_objet
    	}else{
    		id_objet = this.itemsurvselected
    	}
    	let id_addon1 = this.addonselected[0]
    	let id_addon2 = this.addonselected[1]
    	let id_offrande = this.offeringselected
    	console.log(this.id_user)
    	console.log('id du perso'+id_personnage)
    	console.log(nom_build)
    	console.log(id_objet)
    	console.log(id_perk1+'a '+id_perk2+'b '+id_perk3+'c '+id_perk4+' d')	
    	console.log('addon 1 ' + id_addon1)
    	console.log('addon 2 ' + id_addon2)
    	console.log(desc_build)
    	console.log(id_offrande)
    	 axios.post('addbuild', {
    	 	nom_build: nom_build,
    	 	desc_build: desc_build,
    	 	id_user: id_user,
    	 	id_personnage: id_personnage,
    	 	id_perk1: id_perk1,
    	 	id_perk2: id_perk2,
    	 	id_perk3: id_perk3,
    	 	id_perk4: id_perk4,
    	 	id_objet: id_objet,
    	 	id_addon1: id_addon1,
    	 	id_addon2: id_addon2,
    	 	id_offrande: id_offrande,
    	})
    	 .then((response) => {
    	  this.$router.push('/')
    	})
    	 .catch((error) => {
    	  console.log(error.data);
    	})
/*    	perkselected:[],
    	addonselected:[],
    	offeringselected:'',
    	itemsurvselected:''*/
    },
  },
  mounted () {
  			axios.get('/perks/'+this.flagperso).then((response) => {
  				this.perks = response.data
  			}) 
  			.catch((error)=> {
				// handle error
				console.log(error);
				//window.location = "/404";
			})
			.then(() => {
				// always executed
			});
  			if (this.flagperso=='killer') {

	  			axios.get('/items/'+this.$store.state.personnage['id']).then((response) => {
	  				this.items = response.data
	  				console.log(this.items[0].id_objet)
	  				axios.get('/addons/'+response.data[0]['id_objet']).then((response2) => {
	  					this.addons = response2.data
	  					console.log(response2)
	  					console.log(this.addons)
	  				})
	  			}) 
	  			.catch((error)=> {
					// handle error
					console.log(error);
					//window.location = "/404";
				})
				.then(() => {
					// always executed
				});
				axios.get('/offering/'+this.$store.state.killerorsurv).then((response) => {
					this.offerings = response.data
					console.log(response.data)
				})
				.catch((error)=> {
					// handle error
					console.log(error);
					//window.location = "/404";
				})
				.then(() => {
					// always executed
				});
  			}

  			if (this.flagperso=='surv')
  			{
  				axios.get('/items').then((response) => {
  					this.items = response.data
  					console.log(response.data)
  				})
  				.catch((error)=> {
					// handle error
					console.log(error);
					//window.location = "/404"
				})
				.then(() => {
					// always executed
				});
				axios.get('/offering/'+this.$store.state.killerorsurv).then((response) => {
					this.offerings = response.data
					console.log(response.data)
				})
				.catch((error)=> {
					// handle error
					console.log(error);
					//window.location = "/404";
				})
				.then(() => {
					// always executed
				});
  			}
  	},
	watch: { 
		itemsurvselected: function(val){
			
  			axios.get('/addons/'+val).then((response) => {
  				this.addons = response.data
  				console.log(this.addons)
  				if (this.addons.length <= 0) {
  					console.log('test du tab')
  					document.getElementById('item_1').style.display = 'none'
  					document.getElementById('item_2').style.display = 'none'
  				}
  				if (document.getElementById('item_1').style.display == 'none' && document.getElementById('item_2').style.display == 'none' && this.addons.length != 0) {
  					document.getElementById('item_1').style.display = ''
  					document.getElementById('item_2').style.display = ''
  				}

  			}) 
  			.catch((error)=> {
				// handle error
				console.log(error);
				//window.location = "/404";
			})
			.then(() => {
				// always executed
			});
		}
	}
}
</script>

<style lang="css" scoped>

input{

	background-color: transparent;
}



.titlebuild{
    background: transparent;
	margin-bottom: 2em;
	color: white;
}

.titlebuild:focus {
    background: white;
    color: black;

}
.titlebuild::placeholder{
	color: white;
}


.perksimg:hover, .itemimg:hover, .imgperk:hover,.imgaddon:hover,.imgoffering:hover,.imgitem:hover{
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
	cursor: pointer;
}
.nompersonnage{
	color: white;
}

.descbuild{
	margin-bottom: 20px;
} 

textarea{
	max-width: 100%;
	background: transparent;
	color: white;
}

textarea::placeholder{

color: white;


}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: rgba(0,0,0,0);
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
.contentdesc {
	width: 70%;
	height: 700px;
	background-color: grey;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50vh;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	background-image: url(../assets/img/background-perk.png);
	color: white;
	border: 1px solid white;
}
.contentperkdesc {
    height: 700px;
	color: white;
	border: 1px solid white;
	overflow-y: auto;
	overflow-x: hidden;
}
.backgroundform{
  display: none;  
  position: fixed;
  width:100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  z-index: 999;
  left:0;
  top: 0;
}

.items img.power,.items img.itemsurv{
	max-width: 140px;
}
.items img{
	transition: transform .2s;
	max-width: 120px;
	margin-bottom: 20px;

}

.perks img,.offering img{
	transition: transform .2s;
	max-width: 150px;
	margin-bottom: 20px
}
.imgperk,.imgaddon,.imgoffering,.imgitem{
	transition: transform .2s;
}
.perks img:hover,.offering img:hover,.items img:hover,div .imgpower:hover,.imgperk:hover,.imgaddon:hover,.imgoffering:hover,.imgitem:hover {
	transform: scale(1.2);
	cursor: pointer;
}
.content {
    background-color: #1E293B;
    background-image: url(../assets/img/background.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    padding:5% 0;
    min-height: 55vh;
}
.imgpersonnage {
    width: 190px;
    height: 208px;
    margin: 0 auto 20px;
/*     background-image: url(../assets/img/deadbydaylight/killers/thumbnail/wraith.png); */
} 
.imgperk,.imgaddon,.imgitem,.imgoffering{

	background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 200px;
    margin: 15px auto 20px;
}

</style>