<template>
  <div class="header">
    <div class="logo">
      <a href="/"><img :src="logo" alt="logo dead by builder"/></a>
      <div v-if="getToken" class="login">
         <p>Welcome {{this.$store.state.username}},</p>
          <div class="buttongrow" v-if="this.$store.state.role == 'Admin'">
              <a class="btn btn-outline-light btn-block" href="/admin">Back Office</a>
          </div>
          <div class="buttongrow">
            <a class="btn btn-outline-light btn-block" href="/profile">Profile</a>
          </div>
          <div class="buttongrow">
            <a class="btn btn-outline-danger btn-block" href="/" @click="deconnexion">Log out</a>
          </div>
        </div>
      <div v-else class="login">
        <p>Connect to Create and Edit Builds</p>
          <div class="buttongrow">   
            <button type="button" class="btn btn-outline-success btn-block" @click="ouvrirlogin()">Log in</button>
          </div>    
          <div class="buttongrow">
            <button type="button" class="btn btn-outline-info btn-block" @click="ouvririnscription()">Sign in</button>
          </div>
          <div>
              <div class="backgroundform" :id="'backgroundlogin'" @click="fermerlogin"></div> 
              <div :id="'loginblock'" class="contenuformlogin contentform row">
                  <div class="col-sm-8 offset-sm-2 ajustementresponsiveconnexion">                
                    <form @submit.prevent="connexion">
                    <div class="form-group">
                      <input type="text" class="form-control username" placeholder="username" v-model="username">
                      <input type="password" class="form-control password" placeholder="password" v-model="password">
                      <button class="btn btn-outline-success btn-block valider" type="submit" @click="fermerlogin">Log in</button>
                      </div>
                    </form>
                  </div>
              </div>
          </div>
          <div>
            <div class="backgroundform" :id="'backgroundinscription'" @click="fermerinscription"></div> 
            <div :id="'inscriptionblock'" class="contenuformsignup contentform row">
              <div class="col-sm-8 offset-sm-2 ajustementresponsiveinscription">
                <form @submit.prevent="inscription">
                  <div class="form-group">
                    <p id="usernameexist" class="usernameexist">Username already exist !</p>
                    <input type="text" class="form-control username" placeholder="username" v-model="username">
                    <input type="text" class="form-control email" placeholder="email" v-model="email">
                    <input type="password" class="form-control password" placeholder="password" v-model="password">
                    <button class="btn btn-outline-info btn-block valider" type="submit">Sign in</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
    </div>
  </div>    
  <nav class="navbar navbar-expand-lg navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbarMd">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="collapsingNavbarMd" v-if="testurl > -1 && this.$store.state.role == 'Admin'">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" href="/admin/users">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/builds">Builds</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/characters">Characters</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/perks">Perks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/items">Items/Powers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/addons">Addons</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/offerings">Offerings</a>
        </li>
      </ul>
    </div>
    <div class="navbar-collapse collapse" id="collapsingNavbarMd" v-else>
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" href="/killers">Killers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/survivors">Survivors</a>
        </li>
        <div v-if="getToken">
          <li class="nav-item">
            <a class="nav-link" href="/creabuild">Create build</a>
          </li>
        </div>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
</template>

<script>
export default {

  name: 'Header',

  data () {
    return {
      logo: require('../assets/img/logo_test.png'),
      username:'',
      password:'',
      role:'',
      email:'',
      flagconnexion: false,
      flaginscription: false,
      flagbuttoninscription:true,
      flagbuttonconnexion:true,
      loginblock:'',
      inscriptionblock:'',
      testurl: window.location.href.indexOf('admin'),
    }
  },
  computed: {
      // un accesseur (getter) calculé
      count() {
      // `this` pointe sur l'instance vm
      return this.$store.state.count
    },
    getToken(){
      return this.$store.getters.getToken
    }
  },
  methods: {
    ouvrirlogin(){
      document.getElementById('backgroundlogin').style.display = "block";
      document.getElementById('loginblock').style.display = "block";
    },
    fermerlogin(){
      document.getElementById('backgroundlogin').style.display = "none";
      document.getElementById('loginblock').style.display = "none";
    },
    ouvririnscription(){
      document.getElementById('backgroundinscription').style.display = "block";
      document.getElementById('inscriptionblock').style.display = "block";
    },
    fermerinscription(){
      document.getElementById('backgroundinscription').style.display = "none";
      document.getElementById('inscriptionblock').style.display = "none";
    },
    connexion(){
      axios.post('/connexion', {
        username: this.username,
        password: this.password
      })
      .then((response) => {
        console.log('passé')
        this.$store.dispatch('setUsername', response.data.username);
        this.$store.dispatch('setToken', response.data.token);
        this.$store.dispatch('setUserId', response.data.id_user);
        this.$store.dispatch('setRole', response.data.role);
        console.log(response);
        this.$router.push('/')
        this.username = ''
        this.password = ''
      })
      .catch((error) => {
        console.log("mauvais mdp ou utilisateur")
      })        
    },
    inscription(){
      axios.post('inscription', {
       username: this.username,
       password: this.password,
       email: this.email
     })
      .then((response) => {
        console.log(response.data)
        if (response.data == "deja existant") {
          document.getElementById('usernameexist').style.display = "block";
        }else{
        this.fermerinscription()
        }

     })
      .catch((error) => {
       console.log(error.data);
     })
    },
    deconnexion(){
      localStorage.clear();
      this.$router.push('/')
    },
    
  }
}
</script>

<style lang="css" scoped>

.ajustementresponsiveconnexion{
  top:16vh;
}

.ajustementresponsiveinscription{

  top:13vh; 

}

 #usernameexist {
  display: none;
  color: red !important;
}

.backgroundform {
  display: none;
  position: fixed;
  width:100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  z-index:999;
  left:0;
  top: 0;
}

.contentform{
  display: none;
  position: fixed;
  width:100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  z-index:999;
  left:0;
  top: 0;
}
.contenuformlogin {
  width: 48%;
  height: 56%;
  background-color: grey;
  z-index:999;
  margin-left: 25vw;
  margin-right: 25vw;
  margin-top: 50vh;
  transform: translateY(-50%);
  background-image: url(../assets/img/background-form.png);
  background-repeat: no-repeat;
  color: white;
  border:1px solid white;
  background-size:cover;
}

.contenuformsignup{
  width: 48%;
  height: 56%;
  background-color: grey;
  z-index:999;
  margin-left: 25vw;
  margin-right: 25vw;
  margin-top: 50vh;
  transform: translateY(-50%);
  background-image: url(../assets/img/background-form.png);
  background-repeat: no-repeat;
  color: white;
  border:1px solid white;
  background-size:cover;


}


.header{
  background-color: black;
  text-align: center;
  background-image: url('../assets/img/banner.jpg');
  background-position: center;
}
.displaybuttonform{

  display:none;

}
.containerflex{

  display:flex;
  justify-content:center;
  flex-wrap:wrap;

}

.buttongrow{

  width:100%;
  margin-bottom:4px;
}

p {
  color: white !important;
  font-size: 16px;
  font-weight: bold;
}
div.form-group > input {
 text-align:center;
 background: transparent;
 border: 0;
 border-bottom: 2px solid white;
 color: white;
 display: block;
 font-size: 16px;
 margin-bottom: 30px;   
 opacity: .8;
 width: 100%;
 border-color: inherit;
 -webkit-box-shadow: none;
 box-shadow: none;
}
div.form-group > input::placeholder {
color: white;

}
.password {
  margin-top: 10px;
}
.valider {
  border-radius: 28px;
}
.createaccount {
  float: right;
  margin-top: 10px;
}
.logo img {
  width: 300px;
}
nav {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  background-color: rgba(0, 0, 0, 0.6);
}
.nav-link {
  position: relative;
  color: #000;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  color: white !important;
  margin: 0 20px;
}
.nav-link:hover {
  color: #000;
}
.nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ef2e2e;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.nav-link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
@media screen and (min-width: 992px) {
  .login {
    width: 300px;
    position: absolute;
    right: 25px;
    top: 25px;
    border-radius: 10px;
    padding: 15px;
    min-height: 294px;
  }  
}
@media screen and (max-width: 991px)  {
  .login {
    width: 300px;
    margin: 0 auto;
    padding: 0 10px;
    height: auto;
  }
  .contenuformlogin{
    width: 70%;
    height: 54%;
    margin-left: 15vw;
    margin-right: 15vw;
    background-position:25% 75%;
  }  
}



@media (max-width: 300px)  { 

  .contenuformlogin{
     height: 45%;
  }
  .ajustementresponsiveconnexion{
   top: 2vh;
  }


}

@media (min-width: 400px) and (orientation: portrait) { 

  .contenuformlogin{
     height: 45%;
  }
  .ajustementresponsiveconnexion{
   top: 10vh;
  }
}

@media (min-width: 300px) and (max-width:400px) and (orientation: portrait){ 
  .contenuformsignup{
    height: 80%;   
  }
}

@media (min-width: 300px) and (max-width:1024px) and (orientation: landscape){ 

  .contenuformsignup{
    height: 90%;  
  }
}



/*  // Small devices (landscape phones, 576px and up) */
@media (min-width: 500px) and (orientation: landscape) { 

  .contenuformlogin{
    height: 70%;
  }
  .ajustementresponsiveconnexion{
   top: 10vh;
  }


} 

@media (min-width: 500px) and (orientation: portrait) { 

  .contenuformlogin{
    height: 50%;
  }
  .ajustementresponsiveconnexion{
   top: 15vh;
  }


}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* // Large devices (desktops, 992px and up) */
@media (max-width: 767px) and (orientation: landscape) { 

} 

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width:1024px){
  .contenuformlogin{
   height: 50%;
  } 
}

</style>