<template>
  <div class="content">
    <div class="container">
        <div v-for="(kill, k) in killer" v-bind:key="k" v-if="k == 0 && kill.nom_personnage != null">
            <h1>{{kill.nom_personnage}} - Builds</h1>
        </div>
        <div class="row recherche">
            <div class="col-sm-12">
               <label>Filter by : </label>
               <select v-model="selected">
                  <option selected value="">Likes</option>
                  <option>Name</option>
                  <option>Perks</option>
                  <option>Items</option>
                  <option>Addons</option>
                  <option>Offerings</option>
                  <option>Author</option>
               </select>
               <label>Value : </label>
               <input type="text" v-model="search" placeholder="name" /> 
            </div>
        </div>
        <div class="builds">
        <div class="row build" v-for="(killbuild, index) in filteredBuilds" v-bind:key="index" v-if="killbuild.nom_build != null">
                        <div class="col-sm-1 col-md-1 col-lg-1 likes" v-if="killbuild.likes > 0">
                        <p class="positivelike">+{{killbuild.likes}}</p>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1 likes" v-else-if="killbuild.likes < 0">
                        <p class="negativelike">{{killbuild.likes}}</p>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1 likes" v-else>
                        <p class="neutrallike">{{killbuild.likes}}</p>
                    </div>
                    <div class="nomimgbuild">
                        <div class="row">
                        <div class="col-sm-4 col-md-4 col-lg-4 imgkiller">
                            <img :src="require('../assets/img/deadbydaylight/killers/thumbnail/'+killer[0].img_personnage)" width="60%">
                        </div>
                        <div class="col-sm-8 col-md-8 col-lg-8 nombuild">
                            <h3><a v-bind:href="'/killer/build/'+killbuild.id_build+'/'">{{killbuild.nom_build}}</a></h3>
                            <p>by <i><a v-bind:href="'/profile/'+killbuild.username+'/'">{{killbuild.username}}</a></i></p>
                        </div>
                        </div>
                    </div>
                    <div class="perksbuild row">
                        <div class="col-sm-3" v-for="(perks, i) in killerbuilds" :key="i" v-if="perks.nom_perk != null && perks.id_build == killbuild.id_build">
                            <img class="perksimg" :src="require('../assets/img/deadbydaylight/killers/perks/'+perks.img_perk)" width="98%" v-on:click="ouvrirperks(i, index)">
                            <div :id="'backgroundperk'+index+i" class="backgroundperk" v-on:click="fermerperks(i, index)">
                               <div class="perkdesc row">
                                   <div class="col-sm-4 col-md-4 col-lg-4 imgperk">
                                       <img :src="require('../assets/img/deadbydaylight/killers/perks/'+perks.img_perk)" width="60%">
                                   </div>
                                   <div class="col-sm-8 col-md-8 col-lg-8 descperk">
                                       <h4>{{perks.nom_perk}}</h4>
                                       <p class="descriptionperk" v-html="perks.description_perk">{{perks.description_perk}}</p>
                                   </div>
                               </div>
                            </div>         
                        </div>
                    </div>
                    <span class="divider1"></span>
                    <div class="items row">
                        <div class="col-sm-12">
                            <img class="itemsimg" :src="require('../assets/img/template/items/blanc.png')" width="100%">
                        </div>
                        <div class="col-sm-12 imgitems" v-for="(items, j) in killerbuilds" :key="j" v-if="items.id_type_objet == 1 && items.id_build == killbuild.id_build">
                            <img class="itemsimg" :src="require('../assets/img/deadbydaylight/killers/items/'+items.img_objet)" width="100%" v-on:click="ouvriritems(j, index)" style="z-index: 1;">
                            <div :id="'backgrounditem'+index+j" class="backgroundperk" v-on:click="fermeritems(j, index)">
                               <div class="perkdesc row">
                                   <div class="col-sm-4 col-md-4 col-lg-4 imgperk">
                                       <img :src="require('../assets/img/deadbydaylight/killers/items/'+items.img_objet)" width="60%">
                                   </div>
                                   <div class="col-sm-8 col-md-8 col-lg-8 descperk">
                                       <h4>{{items.nom_objet}}</h4>
                                       <p class="descriptionperk" v-html="items.description_objet">{{items.description_objet}}</p>
                                   </div>
                               </div>
                            </div>
                        </div>
                    </div>
                    <div class="row addons">
                        <div class="col-sm-6">
                            <img class="noaddonsimg" :src="require('../assets/img/template/items/blanc.png')" width="100%">
                        </div>
                        <div class="col-sm-6">
                            <img class="noaddonsimg" :src="require('../assets/img/template/items/blanc.png')" width="100%">
                        </div>
                        <div class="col-sm-6 imgaddons" v-for="(addons, a) in killerbuilds" :key="a" v-if="addons.nom_addon != null && addons.id_build == killbuild.id_build">
                            <img class="addonsimg" :src="require('../assets/img/deadbydaylight/killers/addons/'+addons.img_addon)" width="100%" v-on:click="ouvriraddons(a, index)" style="z-index: 1;">
                            <div :id="'backgroundaddon'+index+a" class="backgroundperk" v-on:click="fermeraddons(a, index)">
                               <div class="perkdesc row">
                                   <div class="col-sm-4 col-md-4 col-lg-4 imgperk">
                                       <img :src="require('../assets/img/deadbydaylight/killers/addons/'+addons.img_addon)" width="60%">
                                   </div>
                                   <div class="col-sm-8 col-md-8 col-lg-8 descperk">
                                       <h4>{{addons.nom_addon}}</h4>
                                       <p class="descriptionperk" v-html="addons.description_addon">{{addons.description_addon}}</p>
                                   </div>
                               </div>
                            </div>
                        </div>
                    </div>
                    <span class="divider2"></span>
                    <div class="row offering">
                        <div class="col-sm-12">
                            <img class="noofferingsimg" :src="require('../assets/img/template/offerings/blanc.png')" width="80%">
                        </div>
                        <div class="col-sm-12 imgoffering" v-for="(offerings, o) in killerbuilds" :key="o" v-if="offerings.nom_objet != null && offerings.id_type_objet == 2 && offerings.id_build == killbuild.id_build">
                            <img class="offeringsimg" :src="require('../assets/img/deadbydaylight/killers/offerings/'+offerings.img_objet)" width="80%" v-on:click="ouvrirofferings(o, index)" style="z-index: 1;">
                            <div :id="'backgroundoffering'+index+o" class="backgroundperk" v-on:click="fermerofferings(o, index)">
                               <div class="perkdesc row">
                                   <div class="col-sm-4 col-md-4 col-lg-4 imgperk">
                                       <img :src="require('../assets/img/deadbydaylight/killers/offerings/'+offerings.img_objet)" width="60%">
                                   </div>
                                   <div class="col-sm-8 col-md-8 col-lg-8 descperk">
                                       <h4>{{offerings.nom_objet}}</h4>
                                       <p class="descriptionperk" v-html="offerings.description_objet">{{offerings.description_objet}}</p>
                                   </div>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'killerbuild',
  data () {
    return {
    killerbuilds : [],
    killbuild: [],
    killer : [],
    kill : [],
    search : '',
    selected: '',
    }
  },
  mounted(){
    axios.get('/killer/'+this.$route.params.name).then((response) => {
  	    // handle success
  	   this.killer = response.data
  	  })
  	  .catch((error)=> {
  	    // handle error
  	    console.log(error);
        //window.location = "/404";
  	  })
  	  .then(() => {
  	    // always executed
  	  });
  	axios.get('/killerbuilds/'+this.$route.params.name).then((response) => {
  	    // handle success
  	   this.killerbuilds = response.data
  	  })
  	  .catch((error)=> {
  	    // handle error
  	    console.log(error);
        //window.location = "/404";
  	  })
  	  .then(() => {
  	    // always executed
  	  });

  },
  methods: {
      ouvrirperk: function(n) {
          document.getElementById('backgroundperk'+n).style.display = "block";
      },
      fermerperk: function(n) {
          document.getElementById('backgroundperk'+n).style.display = "none";
      },
      ouvrirperks: function(i, index) {
          document.getElementById('backgroundperk'+index+i).style.display = "block";
      },
      fermerperks: function(i, index) {
          document.getElementById('backgroundperk'+index+i).style.display = "none";
      },
      ouvriritems: function(j, index) {
          document.getElementById('backgrounditem'+index+j).style.display = "block";
      },
      fermeritems: function(j, index) {
          document.getElementById('backgrounditem'+index+j).style.display = "none";
      },
      ouvriraddons: function(a, index) {
          document.getElementById('backgroundaddon'+index+a).style.display = "block";
      },
      fermeraddons: function(a, index) {
          document.getElementById('backgroundaddon'+index+a).style.display = "none";
      },
      ouvrirofferings: function(o, index) {
          document.getElementById('backgroundoffering'+index+o).style.display = "block";
      },
      fermerofferings: function(o, index) {
          document.getElementById('backgroundoffering'+index+o).style.display = "none";
      },
  },
  computed: {
      filteredBuilds: function() {
      return this.killerbuilds.filter(killbuild => {
        if(this.selected == "") {
            return killbuild.likes;
        }
        if(this.selected == "Name" && killbuild.nom_build != null) {
            return killbuild.nom_build.toLowerCase().match(this.search.toLowerCase());
        }
        if(this.selected == "Perks" && killbuild.perks != null) {
            return killbuild.perks.toLowerCase().match(this.search.toLowerCase());
        }
        if(this.selected == "Items" && killbuild.objets != null) {
            return killbuild.objets.toLowerCase().match(this.search.toLowerCase());
        }
        if(this.selected == "Addons" && killbuild.addons != null) {
            return killbuild.addons.toLowerCase().match(this.search.toLowerCase());
        }
        if(this.selected == "Offerings" && killbuild.objets != null) {
            return killbuild.objets.toLowerCase().match(this.search.toLowerCase());
        }
        if(this.selected == "Author" && killbuild.username != null) {
            return killbuild.username.toLowerCase().match(this.search.toLowerCase());
        }
      });
    }
  },

}
</script>


<style scoped>
    .content {
        background-color: #1E293B;
        background-image: url(../assets/img/background.jpg);
        background-position: center top;
        background-repeat: no-repeat;
        padding:5% 0;
        min-height: 55vh;
    }
    .container {
        background-color: rgba(0, 0, 0, 0.6);
    }
    h1 {
        color: white;
        padding: 30px 0;
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }
    .recherche {
        color: white;
        padding: 15px;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }
    .recherche input {
        width: 40%;
    }
    .perksimg:hover {
        transform: scale(1.2);
        cursor: pointer;
    }
    .backgroundperk {
        display: none;
        position: fixed;
        width:100%;
        height: 100%;
        background-color: rgba(0,0,0,0.6);
        z-index:999;
        left:0;
        top: 0;
    }
    .perkdesc {
        width: 70%;
        height: auto;
        background-color: grey;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50vh;
        transform: translateY(-50%);
        background-image: url(../assets/img/background-perk.png);
        color: white;
        border:1px solid white;
    }
    .imgperk, .descperk {
        padding: 6% 2%;
        background-color: rgba(255,255,255,0.1);
    }
    .descperk {
        text-align: left;
    }
    .descperk h3 {
        text-align: left;
        padding-bottom: 20px;
    }
    @media screen and (max-width: 575px) {
        .descperk h3, .descperk p {
            text-align: center;
        }
        .perks .col-sm-4 {
            width: 33.33333% !important;
        }
        .description {
            margin-left: auto;
            margin-right: auto;
        }
    }
    .builds h2 {
        color: white;
        font-family: 'Roboto', sans-serif;
        text-align: center;
    }
    .builds {
        color: white;
        font-family: 'Roboto', sans-serif;
        text-align: center;
    }
    .builds .build {
        background-image: url(../assets/img/build-background.png);
        background-position: center;
        margin-bottom: 5px;
    }
    .builds .likes {
        height: 105px;
        line-height: 105px;
        flex-wrap: nowrap;
    }
    .builds .positivelike {
        background-image: url(../assets/img/test.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        color: green;
    }
    .builds .negativelike {
        background-image: url(../assets/img/test.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        color: red;
    }
    .builds .neutrallike {
        background-image: url(../assets/img/test.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        color: white;
    }
    .builds h3 {
        font-size: 1rem;
        font-weight: bold;
    }
    .builds .perksbuild .col-sm-3 {
        padding-left: 0;
        padding-right: 0;
    }
     @media screen and (max-width: 575px) {
        .builds .likes {
            max-width: 25%;
            flex: 0 0 25%;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 20px;
        }
        .builds .likes p {
            font-size: 3rem;
            font-weight: bold;
            padding-bottom:15px;
        }
        .builds .nomimgbuild {
            max-width: 75%;
            flex: 0 0 75%;
            padding-left: 15px;
            padding-right: 15px;
        }
        .builds .perksbuild {
            max-width: 100%;
            flex: 0 0 100%;
            padding-left: 30px;
        }
        .builds .perksbuild .col-sm-3 {
            max-width: 25%;
            flex: 0 0 25%;
            padding-left: 0px;
            padding-right: 0px;
            padding-top: 10px;
        }
        .builds .items {
            max-width: 25%;
            flex: 0 0 25%;
            margin-left: 1px;
            margin-right: 5px;
        }
        .builds .addons {
            max-width: 50%;
            flex: 0 0 50%;
        }
        .builds .addons .col-sm-6 {
            max-width: 50%;
            flex: 0 0 50%;
            padding-left: 0px;
            padding-right: 0px;
        }
        .builds .offering {
            max-width: 24%;
            flex: 0 0 24%;
            margin-left: 1px;
        }
        .builds .offering .offeringsimg, .builds .offering .noofferingsimg {
            width: 100% !important;
        }
        .builds .nomimgbuild .imgkiller {
            padding-left: 0 !important;
            padding-right: 0 !important;
            padding-top: 25px;
            display: none;
        }
        .builds .nombuild {
            max-width: 100%;
            flex: 0 0 100%;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 20px;
        }
        .builds .nombuild h3 {
            font-size: 2rem;
            font-weight: bold;
        }
        .builds .perksbuild .col-sm-3 img {
            padding-top: 17px;
        }
        .builds .items .itemsimg, .builds .items .noitemsimg {
            padding-top: 15px;
        }
        .builds .addons .addonsimg, .builds .addons .noaddonsimg {
            padding-top: 13px;
            width: 80%;
        }
        .builds .offering .offeringsimg, .builds .offering .noofferingsimg {
            padding-top: 10px;
        }
        .builds .noofferings {
            padding-top: 10px;
        }
        .divider1, .divider2 {
            display: inline-block;
            width: 0;
            height: 50px;
            margin-top: 32px;
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
            margin-left: 25px; 
        }
         .divider1 {
             display: none;
         }
         .items, .addons, .offering {
             display: none;
         }
    }
    @media screen and (min-width: 576px) and (max-width: 767px) {
        .builds .likes {
            max-width: 25%;
            flex: 0 0 25%;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 8px;
        }
        .builds .likes p {
            font-size: 3rem;
            font-weight: bold;
            padding-bottom:15px;
        }
        .builds .nomimgbuild {
            max-width: 75%;
            flex: 0 0 75%;
            padding-left: 15px;
            padding-right: 15px;
        }
        .builds .perksbuild {
            max-width: 50%;
            flex: 0 0 50%;
            padding-left: 30px;
        }
        .builds .items {
            max-width: 12.5%;
            flex: 0 0 12.5%;
            margin-left: 1px;
            margin-right: 5px;
        }
        .builds .addons {
            max-width: 25%;
            flex: 0 0 25%;
        }
        .builds .offering {
            max-width: 12.5%;
            flex: 0 0 12.5%;
            margin-left: 1px;
        }
        .builds .offering .offeringsimg, .builds .offering .noofferingsimg {
            width: 100% !important;
        }
        .builds .nomimgbuild .imgkiller {
            padding-left: 0 !important;
            padding-right: 0 !important;
            padding-top: 25px;
            display: none;
        }
        .builds .nombuild {
            max-width: 100%;
            flex: 0 0 100%;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 20px;
        }
        .builds .nombuild h3 {
            font-size: 2rem;
            font-weight: bold;
        }
        .builds .perksbuild .col-sm-3 img {
            padding-top: 17px;
        }
        .builds .items .itemsimg, .builds .items .noitemsimg {
            padding-top: 29px;
        }
        .builds .addons .addonsimg, .builds .addons .noaddonsimg {
            padding-top: 13px;
        }
        .builds .offering .offeringsimg, .builds .offering .noofferingsimg {
            padding-top: 20px;
        }
        .divider1, .divider2 {
            display: inline-block;
            width: 0;
            height: 50px;
            margin-top: 22px;
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
            margin-left: 25px; 
        }
        .items .imgitems {
            margin-top: -74px;
        }
        .addons .imgaddons {
            margin-top: -81px;
        }
        .offering .imgoffering {
            margin-top: -72px;
        }
    }
    @media screen and (min-width: 768px) and (max-width: 991px) {
        .builds .likes {
            max-width: 25%;
            flex: 0 0 25%;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 8px;
        }
        .builds .likes p {
            font-size: 3rem;
            font-weight: bold;
            padding-bottom:15px;
        }
        .builds .nomimgbuild {
            max-width: 75%;
            flex: 0 0 75%;
            padding-left: 15px;
            padding-right: 15px;
        }
        .builds .perksbuild {
            max-width: 50%;
            flex: 0 0 50%;
            padding-left: 30px;
        }
        .builds .items {
            max-width: 12.5%;
            flex: 0 0 12.5%;
            margin-left: 1px;
            margin-right: 5px;
        }
        .builds .addons {
            max-width: 25%;
            flex: 0 0 25%;
        }
        .builds .offering {
            max-width: 12.5%;
            flex: 0 0 12.5%;
            margin-left: 1px;
        }
        .builds .offering .offeringsimg, .builds .offering .noofferingsimg {
            width: 100% !important;
        }
        .builds .nomimgbuild .imgkiller {
            padding-left: 0 !important;
            padding-right: 0 !important;
            padding-top: 25px;
            display: none;
        }
        .builds .nombuild {
            max-width: 100%;
            flex: 0 0 100%;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 20px;
        }
        .builds .nombuild h3 {
            font-size: 2rem;
            font-weight: bold;
        }
        .builds .perksbuild .col-sm-3 img {
            padding-top: 17px;
        }
        .builds .items .itemsimg, .builds .items .noitemsimg {
            padding-top: 29px;
        }
        .builds .addons .addonsimg, .builds .addons .noaddonsimg {
            padding-top: 13px;
        }
        .builds .offering .offeringsimg, .builds .offering .noofferingsimg {
            padding-top: 20px;
        }
        .divider1, .divider2 {
            display: inline-block;
            width: 0;
            height: 50px;
            margin-top: 34px;
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
            margin-left: 25px; 
        }
        .items .imgitems {
            margin-top: -96px;
        }
        .addons .imgaddons {
            margin-top: -103px;
        }
        .offering .imgoffering {
            margin-top: -96px;
        }
    }
    @media screen and (min-width: 992px) and (max-width: 1199px) {
        .builds .likes {
            max-width: 8.333333%;
            flex: 0 0 8.333333%;
            padding-left: 15px;
            padding-right: 15px;
        }
        .builds .likes p {
            font-size: 1.5rem;
            font-weight: bold;
            padding-bottom:15px;
        }
        .builds .nomimgbuild {
            max-width: 25%;
            flex: 0 0 25%;
            padding-left: 15px;
            padding-right: 15px;
        }
        .builds .perksbuild {
            max-width: 33.333333%;
            flex: 0 0 33.333333%;
            padding-left: 15px;
            padding-right: 15px;
        }
        .builds .items {
            max-width: 11.666667%;
            flex: 0 0 11.666667%;
            padding-left: 15px;
            padding-right: 15px;
        }
        .builds .addons {
            max-width: 14.666667%;
            flex: 0 0 14.666667%;
            padding-left: 15px;
            padding-right: 15px;
        }
        .builds .offering {
            max-width: 13.666667%;
            flex: 0 0 13.666667%;
            padding-left: 15px;
            padding-right: 15px;
        }
        .builds .nomimgbuild .imgkiller {
            padding-left: 0 !important;
            padding-right: 0 !important;
            padding-top: 26.5px;
            display: block;
        }
        .builds .nombuild {
            padding-top: 26.5px;
            height: 105px;
        }
        .builds .perksbuild .col-sm-3 img {
            padding-top: 17px;
        }
        .builds .items .itemsimg, .builds .items .noitemsimg {
            padding-top: 29px;
        }
        .builds .addons .addonsimg, .builds .addons .noaddonsimg {
            padding-top: 27.5px;
        }
        .builds .offering .offeringsimg, .builds .offering .noofferingsimg {
            padding-top: 20px;
        }
        .divider1, .divider2 {
            display: inline-block;
            width: 0;
            height: 50px;
            margin-top: 30px;
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
            margin-left: 15px; 
        }
        .items .imgitems {
            margin-top: -93px;
        }
        .addons .imgaddons {
            margin-top: -94px;
        }
        .offering .imgoffering {
            margin-top: -95px;
        }
    }
    @media screen and (min-width: 1200px) {
        .builds .likes {
            max-width: 8.333333%;
            flex: 0 0 8.333333%;
            padding-left: 15px;
            padding-right: 15px;
        }
        .builds .likes p {
            font-size: 2rem;
            font-weight: bold;
            padding-bottom:15px;
        }
        .builds .nomimgbuild {
            max-width: 25%;
            flex: 0 0 25%;
            padding-left: 15px;
            padding-right: 15px;
        }
        .builds .perksbuild {
            max-width: 33.333333%;
            flex: 0 0 33.333333%;
            padding-left: 15px;
            padding-right: 15px;
        }
        .builds .items {
            max-width: 11.666667%;
            flex: 0 0 11.666667%;
            padding-left: 15px;
            padding-right: 15px;
        }
        .builds .addons {
            max-width: 14.666667%;
            flex: 0 0 14.666667%;
            padding-left: 15px;
            padding-right: 15px;
        }
        .builds .offering {
            max-width: 13.666667%;
            flex: 0 0 13.666667%;
            padding-left: 15px;
            padding-right: 15px;
        }
        .builds .nomimgbuild .imgkiller {
            padding-left: 0 !important;
            padding-right: 0 !important;
            padding-top: 21.5px;
            display: block;
        }
        .builds .nombuild {
            padding-top: 26.5px;
            height: 105px;
        }
        .builds .perksbuild .col-sm-3 img {
        padding-top: 9.5px;
        }
        .builds .items .itemsimg, .builds .items .noitemsimg {
        padding-top: 16px;
        }
        .builds .addons .addonsimg, .builds .addons .noaddonsimg {
        padding-top: 18px;
        }
        .builds .offering .offeringsimg, .builds .offering .noofferingsimg {
        padding-top: 9px;
        }
        .divider1, .divider2 {
        display: inline-block;
        width: 0;
        height: 50px;
        margin-top: 27px;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        margin-left: 15px; 
        }
        .items .imgitems {
            margin-top: -97px;
        }
        .addons .imgaddons {
            margin-top: -96px;
        }
        .offering .imgoffering {
            margin-top: -101px;
        }
    }
    @media screen and (min-width: 576px) {
        .builds .addons .col-sm-6 {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
        .builds .addons .col-sm-12 {
            padding-right: 0 !important;
            padding-left: 0 !important;
        }
    }
    .builds .items .itemsimg:hover {
        transform: scale(1.2);
        cursor: pointer;
    }
    .builds .addons .addonsimg:hover {
        transform: scale(1.2);
        cursor: pointer;
    }
    .builds .offering .offeringsimg:hover {
        transform: scale(1.2);
        cursor: pointer;
    }
</style>