<template>
  <div class="content">
    <div class="container">
        <h1>Killers</h1>
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 killers" v-for="killer in killers" :key="killer.nom_personnage">
                <a v-bind:href="'/killer/' + killer.nom_personnage">
                <div v-bind:class="killer.id_personnage + ' killer'" v-bind:style="{ 'background-image': 'url(' + require('../assets/img/deadbydaylight/killers/thumbnail/' + killer.img_personnage ) + ')' }">
                  <div class="nomkiller">
                      <h2>{{killer.nom_personnage}}</h2>
                  </div>
                </div>
                </a>
            </div>
        </div>
    </div>
 </div>
</template>

<script>
export default {
  name: 'killers',
  data () {
    return {
    killers : [],
    killer : ''
    }
  },
  mounted(){
  	axios.get('/killers').then((response) => {
  	    // handle success
  	   this.killers = response.data
  	  })
  	  .catch((error)=> {
  	    // handle error
  	    console.log(error);
  	  })
  	  .then(() => {
  	    // always executed
  	  });

  }

}
</script>


<style scoped>
    .content {
        background-color: #1E293B;
        background-image: url(../assets/img/background.jpg);
        background-position: center top;
        background-repeat: no-repeat;
        padding:5% 0;
        min-height: 55vh;
    }
    .container {
        background-color: rgba(0, 0, 0, 0.6);
    }
    h1 {
        color: white;
        padding: 30px 0;
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }
    .killers a {
        text-decoration: none;
    }
    .killer {
        width: 190px;
        height: 208px;
        margin: 0 auto 20px;
    }
    .nomkiller {
        background-color: rgba(0, 0, 0, 0.6);
        width: 190px;
        height: 208px;
        color: white;
        font-family: 'Roboto', sans-serif;
    }
    .nomkiller h2 {
        line-height:208px !important;
        text-align:center;
    }
    .killer:hover .nomkiller {
        display:none;
    }
</style>