<template>
  <div class="content">
    <div class="container">
        <h1>DeadByBuilder - Error 404</h1>
        <h2>It seems that what are you looking doesn't exist</h2>
        <p><a href="/" class="btn btn-outline-danger btn-block">Back to Homepage</a></p>
    </div>
 </div>
</template>

<script>
export default {
  name: 'testroute',
  data () {
    return {

    }
  }
}
</script>


<style scoped>
    .content {
        background-color: #1E293B;
        background-image: url(../assets/img/background.jpg);
        background-position: center top;
        background-repeat: no-repeat;
        padding:5% 0;
        min-height: 55vh;
        font-family: 'Roboto', sans-serif;
    }
    .container {
        background-color: rgba(0, 0, 0, 0.6);
    }
    h1 {
        color: white;
        padding: 30px 0;
        text-align: center;
    }
    h2 {
        color: white;
        text-align: center;
        
    }
    p {
        padding: 30px 0;
        width: 194px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-bottom: 70px;
    }
</style>
