<template>
  <div>
    <h1>Perks Communes</h1>
   	<div v-for="cap in capacites" :key="cap.id_perk">{{cap.nom_perk}}</div>
 </div>
</template>

<script>
export default {
  name: 'perksperso',
  data () {
    return {
    'nom':"toto",
    capacites : [],
    capacite : ''
    }
  },
  mounted(){
  	axios.get('/perkcommuneandperso/'+this.$route.params.id).then((response) => {
  	    // handle success
  	   this.capacites = response.data
  	  })
  	  .catch((error)=> {
  	    // handle error
  	    console.log(error);
  	  })
  	  .then(() => {
  	    // always executed
  	  });

  }

}
</script>


<style scoped>
</style>