<template>
  <div class="content">
    <div class="container">
        <h1>Survivors</h1>
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 survivors" v-for="survivor in survivors" :key="survivor.nom_personnage">
                <a v-bind:href="'/survivor/' + survivor.nom_nospace_personnage">
                <div v-bind:class="survivor.id_personnage + ' survivor'" v-bind:style="{ 'background-image': 'url(' + require('../assets/img/deadbydaylight/survivors/thumbnail/' + survivor.img_personnage ) + ')' }">
                  <div class="nomsurvivor">
                      <h2>{{survivor.nom_personnage}}</h2>
                  </div>
                </div>
                </a>
            </div>
        </div>
    </div>
 </div>
</template>

<script>
export default {
  name: 'survivors',
  data () {
    return {
    survivors : [],
    survivor : '',
    nomsurv : '',
    }
  },
  mounted(){
  	axios.get('/survivors').then((response) => {
  	    // handle success
  	   this.survivors = response.data
  	  })
  	  .catch((error)=> {
  	    // handle error
  	    console.log(error);
  	  })
  	  .then(() => {
  	    // always executed
  	  });

  }

}
</script>


<style scoped>
    .content {
        background-color: #1E293B;
        background-image: url(../assets/img/background.jpg);
        background-position: center top;
        background-repeat: no-repeat;
        padding:5% 0;
        min-height: 55vh;
    }
    .container {
        background-color: rgba(0, 0, 0, 0.6);
    }
    h1 {
        color: white;
        padding: 30px 0;
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }
    .survivors a {
        text-decoration: none;
    }
    .survivor {
        width: 190px;
        height: 208px;
        margin: 0 auto 20px;
    }
    .nomsurvivor {
        background-color: rgba(0, 0, 0, 0.6);
        width: 190px;
        height: 208px;
        color: white;
        font-family: 'Roboto', sans-serif;
    }
    .nomsurvivor h2 {
        line-height:208px !important;
        text-align:center;
        font-size: 26px;
    }
    .survivor:hover .nomsurvivor {
        display:none;
    }
</style>
<title>Survivors - Deadbybuilder</title>