<template>
  <div>
   <h1>Hello world</h1>
   <h2>bonjour le monde</h2>
 </div>
</template>

<script>
export default {
  name: 'testroute',
  data () {
    return {
    'nom':"toto"

    }
  }
}
</script>


<style scoped>
</style>
